<template>
  <main class="conteudo">

      <section class="amp">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z"/></svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper"><div class="content">
            <span>PRINCIPAIS DESTINOS DOS BRASILEIROS NO EXTERIOR</span>
          </div></div>
          <div class="fonte">Fonte: <a href="http://www.portalconsular.itamaraty.gov.br/no-exterior/brasileiros-no-mundo" target="_blank">Ministério das Relações Exteriores, 2014</a></div>
        </div>
        <div class="info">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 494.7 265.7" style="enable-background:new 0 0 494.7 265.7;" xml:space="preserve">
          <g>
          	<polygon points="153.4,65.5 151.5,62.3 151.4,62.3 151.4,62.3 149.7,61.9 149.7,59.7 149.6,59.7 149.6,59.6 143.9,65.4 144,65.4
          		144,65.5 	"/>
          	<polygon points="208.2,35.8 204.4,35.7 203.6,36.8 201.5,36.7 201.5,38.7 209.1,39.8 213.6,37.6 213.6,37 211.4,34.7 	"/>
          	<polygon points="247,87.2 249.5,87.8 249.5,85.6 247.1,85.6 	"/>
          	<polygon points="211.6,16.7 216.9,15.6 218.8,13.7 203.4,12.2 190.2,13.7 174.1,13.7 164.8,17 157.4,19.2 157.4,21.5 168.7,21.6
          		171.6,26.6 171.6,31.1 166.2,34.2 166.3,40.3 169.7,43.8 173.7,43.8 179.9,37.3 188.6,34.7 191.8,32.2 198.4,31.8 203,30.5 	"/>
          	<polygon points="415.5,108 417.7,110 419,106.3 417.7,104.9 	"/>
          	<polygon points="399.6,116.4 400.6,117.7 402.2,115.8 402.2,114.3 399.6,114.9 	"/>
          	<polygon points="435,76.4 436,75.1 438.9,75.1 440.1,73 433.6,70.2 433.7,75.6 	"/>
          	<polygon points="440.1,81.4 438.1,78 436.1,77.4 437.3,82.6 433.2,86.2 427.8,87.6 427.4,89.3 433.8,88.3 434.3,90.8 435.8,90.2
          		436,88.2 440.3,87.1 	"/>
          	<polygon points="429.8,91.6 429,90.5 426.7,90.8 429,94.3 	"/>
          	<polygon points="432.9,89.7 430.3,90.1 431.8,91.8 	"/>
          	<polygon points="421,117 418.7,116.9 418.1,121.9 421.4,125.9 425.3,126.4 425.9,124.8 422.3,124.4 421,122.8 422.3,119.8 	"/>
          	<polygon points="419,129.7 414.7,133.6 416.2,133.9 419,131.6 	"/>
          	<polygon points="428.7,131.8 427.6,134.9 423.7,134.9 426.9,137.2 426.9,139.4 429.3,138.7 428.5,137.3 430.3,136.8 	"/>
          	<polygon points="419.8,127.4 421.2,128.7 421.7,127.7 420.1,126.1 	"/>
          	<polygon points="424.2,128.9 422.5,128.7 421.7,130.1 422.9,130.9 	"/>
          	<polygon points="427.7,130.1 429.5,130.1 427.8,127.4 426.1,128 	"/>
          	<polygon points="425,130.4 426.3,132.4 427,131.4 426.1,129.8 	"/>
          	<polygon points="425,132.7 424.2,131.4 423.2,132.5 424.2,133.7 	"/>
          	<polygon points="417,150.2 417,141.3 417,141.2 417,138 414.2,138.2 410.7,142.8 402.8,146.5 402.8,146.5 402.7,146.5 402.9,150.8
          		405.4,155.1 413.2,155.1 	"/>
          	<polygon points="397.2,157.8 397.2,154.5 384.3,141.1 379.9,139.4 394.8,159.8 	"/>
          	<polygon points="396.4,162.1 412.5,164.8 412.2,163.7 406.4,160.9 402.8,161.7 398.8,160.1 	"/>
          	<polygon points="423.9,164.5 422.5,163.7 420.1,163.7 420.5,165.3 422.9,165.3 	"/>
          	<polygon points="418.2,166.3 418.9,167.2 420.7,167.2 420.1,165.9 	"/>
          	<polygon points="428.4,165.7 431.5,165.3 431.5,164.2 427.3,164.2 424.8,166.9 426.7,167.2 	"/>
          	<polygon points="421.9,151.1 421.1,150 422.6,148.3 425.4,149.3 426.8,149.2 428.8,146.8 427,146.7 425.9,147.5 422,146.6
          		419.4,148.9 419.6,152.5 418.1,154.5 419,159.3 420.9,158.7 420.3,155.4 421.4,154.2 422.3,156.6 424.6,157.4 424.6,155.7
          		423.3,152.9 425.7,150.9 	"/>
          	<polygon points="436.7,154.1 432.9,154.1 432.5,155.6 436.7,155.1 	"/>
          	<polygon points="433.5,146.6 434.6,145.2 433.9,144.3 432.5,145.7 432,149.1 433.9,149.6 	"/>
          	<polygon points="442.8,150.5 438.2,151.1 443.4,153.5 	"/>
          	<polygon points="387.9,138.2 389.2,142.7 394.9,147.5 395.4,145.8 390,137.9 	"/>
          	<polygon points="454,154.3 454,154.3 449.5,152 445.4,155.3 441,153.6 440.5,156 443.1,155.9 449.5,158.6 450.6,161.9 448.5,163.2
          		454,165.1 454,165.1 456,165.8 459.8,162.3 464.7,167.1 469.2,168 463.7,162.5 463.9,159.5 	"/>
          	<polygon points="471.9,157.2 466.4,160 468.4,161.2 471.9,159.3 	"/>
          	<polygon points="469.2,154.3 473.3,157.2 474.9,156.7 470.8,154.2 	"/>
          	<polygon points="425.4,56.6 423.5,56.6 429,63.4 431.7,68.3 433.7,68.3 430.3,63.6 432.3,63.6 	"/>
          	<polygon points="244.5,50.9 243.5,51.4 243.2,53 245.1,53 245.7,52.1 	"/>
          	<polygon points="249.7,82.1 245.8,82.1 245.8,83.1 247.3,84.1 249.7,84.4 	"/>
          	<polygon points="239.5,80.6 241.4,80.6 241.4,77.2 239.5,76.7 	"/>
          	<polygon points="241.8,73.9 240.5,73.9 240.5,75.6 241.4,75.9 	"/>
          	<polygon points="224.2,55.3 222.5,56.2 224,58.4 221,61.3 225,60.5 229,59.9 229.3,58.4 230.1,58.4 230.3,56.7 227.7,56.2
          		224.4,48.6 221.9,48.5 221.9,52.6 224.2,52.8 	"/>
          	<polygon points="215.1,55 215.1,59.4 216.7,59.4 216.7,57.9 220,58.3 219.7,55.1 221,54.6 221,53 218,52.8 	"/>
          	<polygon points="232.3,78.6 230.1,80.5 232.3,80.5 	"/>
          	<polygon points="279.1,86.5 275.5,87.8 278.1,88.5 	"/>
          	<polygon points="457.1,37.7 461.2,37.8 457.9,34.2 436.7,30 403.9,29.1 402.1,26.6 390.6,24.7 387.4,27.6 378.2,27.6 374.3,24.7
          		353.4,24.7 352.1,20.1 332.7,20.1 315.7,27.7 319.4,32.3 316.2,35.7 313.3,26.1 308.2,25.7 310.6,31.4 290.8,31.9 272.2,39.5
          		269.7,34.8 276.8,35.1 280.2,33.4 266.7,29.1 263.8,29.2 263.8,29.2 260.9,29.4 260.9,29.4 255.2,29.7 235.5,43.3 237.5,47.9
          		243.4,46.9 243.8,47.4 243.8,47.4 247.6,51.8 253.8,46.3 250.9,42.7 257.5,35.5 258.8,35.5 259.8,35.5 256.7,42.7 260.3,44.5
          		265.9,44.5 265.9,44.5 265.1,45.2 265.1,45.2 264.3,46.1 259.7,46.2 259.3,47.1 260.6,48.2 260.9,48.4 260.6,49.8 257.4,48.4
          		257.4,50.3 257.5,52.4 257.4,52.4 257.4,54 257.4,54 254.2,54.1 253.5,53.4 248.8,54.6 248.4,54.6 248.4,54.6 248.4,54.6
          		242.5,54.5 242.2,53.4 242.1,53 242.8,49.2 240.9,49.2 239.6,52.2 240.1,53.4 240.6,54.5 237.4,56.3 237.4,56.3 234.3,58.2
          		232.5,59.3 224.8,63.9 222,63.9 222,65.1 225.3,66.9 225.7,72 214.4,72.1 214.3,74.3 214.3,74.3 214.2,80.9 215.8,83.8 216.8,83.9
          		216.8,83.9 224,84.4 231.2,75.2 231.2,75.2 232.2,73.9 239.4,74 239.6,71 239.8,71 242.4,71 250.4,79 250.8,82.3 252.3,81.5
          		252.7,79 254.6,78.7 244.8,70.2 247.6,70.1 247.6,70.1 248,70 248,70.1 248.7,70 252.1,73.9 252.8,74.1 252.8,74.1 253.9,74.4
          		253.9,74.4 256.1,78.6 256.4,78.9 256.4,78.9 257.8,80.5 260.6,81.3 258.9,82 261.1,84.8 262.5,82.6 260.9,79.2 264,77.7
          		266.6,77.7 269.6,77.7 268.4,75 269.3,72 269.3,72 270.1,69.6 270.2,69.6 270.6,68.3 276.4,68.3 275.1,69.7 276.9,70.7 279.3,70.5
          		277,67.6 283,66.3 283,66.3 283.7,68 281.9,68.5 282.2,71.3 288.6,73.6 288.7,73.6 288.7,76.6 288.6,76.6 271.4,77.1 269.9,78.9
          		266.6,78.9 269.3,84.4 281.9,85.1 281.9,85.1 281.3,87.8 281.3,87.8 280.7,90.6 279.6,94.7 279.6,94.7 265.6,92.8 265.6,92.8
          		259.7,92 257.2,95.7 251.9,94.6 249.7,92 245.2,90.9 245.1,90.9 243.5,90.5 243.7,84.7 238.6,84.6 238.6,84.6 232.7,84.4
          		224.8,87.4 224.8,87.4 215.8,88.4 207.1,99.6 207.1,99.6 199.8,109.2 199.7,111.5 199.7,111.5 199.5,117.9 199.5,117.9
          		199.3,124.1 199.2,125.5 199.1,127.9 199.1,127.9 199.1,128 201.4,130.4 201.4,130.4 204.3,133.6 207,136.5 207,136.5 212.8,142.8
          		221.4,140.4 221.4,140.4 227.1,138.7 227.1,138.7 229.2,138.1 230.1,137.8 230.1,137.8 234.8,138.5 235.4,141.4 240,141.4
          		241.5,141.4 241.5,145 241.5,145 241.4,147.7 241.3,152 244.9,156.8 246.8,159.3 246.8,159.3 247.8,160.6 247.8,160.6 247.8,172.3
          		244.8,177.3 245,180.5 251.6,199.1 251.6,199.2 255.5,209.7 268.2,209.7 277.9,198.4 278.4,195.4 276.5,195.4 276.5,195.4
          		278.4,195.4 278.5,194.5 282.3,191.8 282,183.8 291,176.5 290.1,168.1 290.1,168.1 289,156.1 291.9,152.7 291.9,152.7 309.3,132.5
          		308.5,128.9 296.5,130.7 295.9,129.6 294.4,127.2 287.5,115.2 287.5,115.2 283.3,108.1 283.3,108.1 276.9,97.1 280.4,99.9
          		281.4,97.7 281.4,97.6 281.4,97.6 281.4,97.5 281.4,97.6 282.8,97.7 282.8,97.7 281.4,97.6 293.9,119.3 294.2,120.1 294.2,120.1
          		296.4,127.3 312.7,120 320.9,109.8 316.4,105.8 314.7,104.3 312,107.3 308.7,106.6 307.9,106.1 308.5,105.6 306.3,102.8
          		305.7,104.6 302.3,98.9 300.4,95.9 304.6,96.3 310.1,102 320.2,105 323,105 323,105 331.8,105 334.1,107.7 334.4,108 337.6,109.1
          		336.1,110.6 337.6,112.4 340.1,112.7 340.5,110.6 341.5,110.6 349.7,134 354.8,130.8 355.6,121.4 367.4,110.1 368.6,108.9
          		374.2,113.5 374.2,113.5 376.7,115.6 377.7,120.7 379.5,121.2 380.7,119.6 383.1,122.3 384.4,127.1 384.1,132.1 384,134.1
          		387.5,137.1 387.9,138.2 390,137.9 386.6,132.8 387.4,125 391.2,128.8 391.2,128.8 393.2,130.7 395.3,130.4 395.4,133.9
          		401.6,129.8 401.4,123.7 394.9,116.9 395.2,113.2 397.5,111.9 397.5,111.9 399.7,110.7 399.7,112.8 412.2,108.3 416.3,99.2
          		409,87.2 412.8,83.1 408.5,83.1 407.1,84 404.4,79.6 407.8,76.6 410.2,81.1 413.5,78.8 413.5,78.8 415.3,82.3 417.8,83 420.4,88.6
          		423.5,88.4 424,84.8 419.7,81.2 417.8,79.7 420.3,79.3 419.8,74.4 424.4,73.6 426.9,69.9 426.9,63 419.8,55 412.9,54.9 414.1,46.4
          		428.3,46.5 429.8,41.7 435.8,44 435.8,41.7 437.3,41.9 439.9,44.4 437.4,46 437.1,51.1 447.2,60.7 447.2,51.4 441.5,46 455,41.7
          		455.2,40.3 448.4,38.5 451,36.4 	"/>
          	<polygon points="297,180.1 296.1,185.9 294.8,189.8 296.5,193.8 300.5,194 307.5,171.8 305,171.8 	"/>
          	<polygon points="52.6,62.1 50,59.9 48.8,60.9 50.7,63.3 52.6,63.3 	"/>
          	<polygon points="148.1,40.1 148.1,35.4 151.7,36.7 153.7,35.3 152.6,33.2 150.5,32.4 150.4,29.1 138.8,24.4 137.1,24.4 133.1,27.7
          		134.5,24.3 132.5,24.3 127.8,29.3 139.2,28.7 146.1,34.9 141.5,34.8 139.1,36.7 133.8,36.7 133.8,38.2 139.2,38.2 143.7,42
          		145,41.5 143.9,39.1 147,40.6 	"/>
          	<polygon points="128.3,39.8 129,38.2 125.5,36.7 122.5,39.1 	"/>
          	<polygon points="117.9,30.6 117.1,29.3 114,30.6 115.1,32 	"/>
          	<polygon points="121.7,26.4 122.7,23.8 116.1,25.9 117.9,27.7 	"/>
          	<polygon points="129,25.1 127.9,23.8 123.3,24.8 123.8,26.5 	"/>
          	<polygon points="144.9,21.3 136.5,21.3 133.6,20.1 130.9,22.5 142,23.4 	"/>
          	<polygon points="143.9,19.3 137.9,19.3 138.8,20.1 145.3,20.1 146.4,21 155.9,16.6 163.5,15.1 169.3,11.8 146.3,13.5 146.3,14.7
          		154.1,14.6 153,16 144.9,16.2 146,18.1 142.5,17.5 	"/>
          	<polygon points="142.1,15.7 140.3,14.3 135.3,16.4 139.6,17.2 	"/>
          	<polygon points="100.1,24.2 97.8,23.2 88.3,25.6 90,27.7 	"/>
          	<polygon points="99.2,28.1 94.2,29.3 100.4,31.7 104.7,29.9 109.4,31 113,30.2 109.5,28.6 112.2,25.1 109.5,25.1 107.9,27.2
          		107.2,25.1 104.4,26.2 101.4,24.9 96,26.7 	"/>
          	<polygon points="99.6,108.1 95.2,108.1 93.5,109.7 98.5,109.7 102.5,112.4 101,114 107.9,114 	"/>
          	<polygon points="100.5,117.1 101.5,118 104.5,118 104.5,116.9 103.4,115.9 100.5,115.9 	"/>
          	<polygon points="119.9,117.3 120.5,116.3 118.8,116.3 118.2,117.3 	"/>
          	<polygon points="131.4,243.6 133.6,245.6 140.4,245.9 133.1,242.1 	"/>
          	<path d="M143.1,211.4l7.1-12.5l1.1-7.2l11.7-5.2l2.2-16.1l5-6.6v-4l-8.2-5.4l-8-0.5l0.2-2.2l-3.7-1.6l-3.7,2.2l1.2-3.3l-2.5-1.1
          		l-3.5,2.7l2.5-3.8l-2.2-4.9l-1.3-2.8l-2.7-0.2l-4.8-0.4l-5.1-4.9l0,0l-1.7-1.6l-6.5-0.6l-3.7-2.6l-8.5-0.1l-1.7,0l-3.6,4.9
          		l-1.8,0.1l-0.5-1.9l-3.9,0.3l-1.4,1.1l-1.8-1l0,0l-1-0.6l0-1.4l0-9.9l-8,0.1l0.3-0.5l2.6-4.8l0.1-0.1l0.1-3.4l-3.4-0.1l-2.7,4.5
          		l-7.5,0l-3.7-7.9l3-3.8l0,0l7.1-8.9l16.8,0.1l1.1,8.4l2.7,0.1l0.1-10.4l27.2-23.2l1.8-0.3l0-0.1l5.1-0.9l-3.4,1.6l0.3,1.4L141,69
          		l-4.5-0.2l-2.1-1.9l2.1-3.2l-1-1l-6.5,2.9V64l6.2-3l9.9-0.4l7.5-4l0-1.8l-5.5-0.9l-0.7-8.9l-7.1,2.8l0-4.2l-3.4-2.9h-4.7L118.7,59
          		l-3.1,0l0.1-6l-10.9-5.9l10.9-8.1l6.2-1.1l-1.3-1.9l9.5-1l3.9-4l-3.6-0.4l-5,3.3l0.6-2.8l-2.3-0.2l-0.6-3.4l-4,1.8l1,2.2l-5.4,2.6
          		l-9.4-1.8l-5,2.3l-12.1-4.8l-23.1,0.5l0,0l0,0l-3.7-1.5l-19.1,0.1l-7.7,3.1v3.4l-8.7-0.1l-1.6,2.3l7.3-0.3l-9.4,3.5l-4.6,6.2
          		l3.9-0.1L14,51.8l2.7,0.2l14.4-6.9l16.6-0.6l5,5l0,0l-1.9,8.8l3.5,3.1v1.7l0,0L41.5,76.8v10.4l4.7,4.7l0,0l0,0l0.7,7.3l5,9.5
          		l2.1-1.6l-4-8.4V94h2.3l0.1,4.4l7.5,17.6l12.2,5.1l3.1-0.8l2.6,2.7l0,0l0,0l0,0l0,0l3.5,1.8l0,0l3,1.3l0.8,0.4l2.7,3.5l2.9,3.9
          		l1,0.4l0,0l4.3,1.5l1-1.6l2.5,0.2l0.7,2.4l0.7,2.5l-0.7,4.6l-2.1,2.6l0,0l-3.1,3.9l-0.5,7.7l10.8,18.4l9.3,6.2l0,0l1.6,38.2
          		l4.1,3.3l0.2,6.9l7.2,9.3l4.2,0.4l-1-20.1l10.9-4.7l-4.9-6.9L143.1,211.4z"/>
          	<polygon points="113.3,115.9 115.9,115.9 116.6,114.9 111.7,114.4 108.6,114.4 109.6,115.8 107.9,115.8 107.9,116.4 111.7,116.4
          		111.7,117.1 	"/>
          	<polygon points="482.2,215.1 482.2,211.9 481,212.4 481,216.9 478,219.9 477,223.1 484.3,217.9 	"/>
          	<polygon points="462.3,232.4 474,224.7 474,222.7 458.8,230.4 	"/>
          	<polygon points="447,171.1 444.8,170.4 444.8,177.1 440,181.9 432.8,175.7 435,171.7 426.3,171.9 424,176.7 418.8,174.4
          		409.3,184.9 396.5,190.9 396.5,205.1 394.5,209.9 396,211.7 420.3,206.4 424.3,209.9 428.5,208.1 430,216.4 442.3,217.1
          		456.5,202.4 457.3,194.1 449.5,183.1 	"/>
          </g>
          </svg>
          <div class="place pr">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Paraguai</b><br />322 mil</div>
          </div>
          <div class="place eua">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Estados Unidos</b><br />1,4 milhão</div>
          </div>
          <div class="place al">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Alemanha</b><br />114 mil</div>
          </div>
          <div class="place su">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Suiça</b><br />81 mil</div>
          </div>
          <div class="place be">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Belgica</b><br />48 mil</div>
          </div>
          <div class="place uk">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Reino Unido</b><br />120 mil</div>
          </div>
          <div class="place jp">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Japão</b><br />170 mil</div>
          </div>
          <div class="place it">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Itália</b><br />69 mil</div>
          </div>
          <div class="place es">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Espanha</b><br />129 mil</div>
          </div>
          <div class="place pt">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Portugal</b><br />105 mil</div>
          </div>
          <div class="place gf">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Guiana Francesa</b><br />39 mil</div>
          </div>
          <div class="place ca">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
            <div class="description"><b>Canadá</b><br />40 mil</div>
          </div>
        </div>
      </section>

  </main>
</template>

<script>

export default {
  name: 'page',
  props: {
    video: Number,
    pessoa: String
  },
  data () {
    return {
    }
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .info {
        position: relative;
        height: 0;
        width: 100vw;
        padding-top: 46%;
        transform: translateX(-15vw);
      }

  .info svg {position: absolute; top: 0; left: 0; transform: translate3d(-50%, -50%,0)}

  #Layer_1 {width: 100%; height: 100%; transform: none;}


  .pr  {top: 68%; left: 30.5%;}
  .eua {top: 27%; left: 20%;}
  .uk  {top: 18%; left: 46%;}
  .jp  {top: 29%; left: 83%;}
  .pt  {top: 28%; left: 44.5%;}
  .al  {top: 21%; left: 50%;}
  .it  {top: 27.5%; left: 51%;}
  .es  {top: 26%; left: 46%;}
  .su  {top: 23%; left: 49%;}
  .gf  {top: 51%; left: 31%;}
  .be  {top: 21%; left: 48%;}
  .ca  {top: 15%; left: 23%;}

</style>
