<template>
  <main class="conteudo">

      <section class="amp">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.49 5.48c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-3.6 13.9l1-4.4 2.1 2v6h2v-7.5l-2.1-2 .6-3c1.3 1.5 3.3 2.5 5.5 2.5v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1l-5.2 2.2v4.7h2v-3.4l1.8-.7-1.6 8.1-4.9-1-.4 2 7 1.4z"/></svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper">
            <div class="content">
              <span>Saiba mais sobre a Fuga de Cérebros</span>
            </div>
          </div>
          <div class="fonte">Fonte: <a href=":https://www.jbjpartners.com/single-post/2019/05/09/%E2%80%9CFuga-de-c%C3%A9rebros%E2%80%9D-do-Brasil-para-os-EUA-cresceu-desde-a-crise-de-2015" target="_blank">JBJ Partners, 2019</a></div>
        </div>

        <div class="charts">
          <ul>
            <li> <!-- PAÍSES -->
              <div class="limage"><myChart :porcentagem="92" /></div>
                dos expatriados não pensam em voltar ao país pelos próximos <b>2 anos</b>
            </li>
            <li> <!-- GRAFICO -->
              <div class="limage"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.5 6.9c1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-.53.12-1.03.3-1.48.54l1.47 1.47c.41-.17.91-.27 1.51-.27zM5.33 4.06L4.06 5.33 7.5 8.77c0 2.08 1.56 3.21 3.91 3.91l3.51 3.51c-.34.48-1.05.91-2.42.91-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c.96-.18 1.82-.55 2.45-1.12l2.22 2.22 1.27-1.27L5.33 4.06z"/></svg></div>
                <b>Violência, instabilidade econômica e corrupção</b> são as principais razões por terem deixado o país
            </li>
            <li> <!-- GRAFICO -->
              <div class="limage"><myChart :porcentagem="93" /></div>
                Entre 2014 e 2018 o percentual de pessoas com ensino superior que se mudaram para os Estados Unidos <b>subiu de 83% para 93%</b>
            </li>
          </ul>
        </div>

        <div class="question">
          <ul class="ul1">
            <li>
              <span>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg>
                Confira algumas notícias sobre a Fuga de Cérebros</span>
              <ul>
                <li><a href="https://exame.abril.com.br/ciencia/por-que-uma-fuga-de-cerebros-ameaca-o-brasil-na-crise/" target="_blank">Por que uma “fuga de cérebros” ameaça o Brasil na crise?</a></li>
                <li><a href="https://oglobo.globo.com/sociedade/pesquisa-nacional-pode-sofrer-com-fuga-de-cerebros-com-bloqueio-de-bolsas-da-capes-afirma-chefe-de-pesquisa-do-inca-23662489" target="_blank">Pesquisa nacional pode sofrer com 'fuga de cérebros'</a></li>
                <li><a href="https://www.metropoles.com/brasil/fuga-de-cerebros-do-brasil-para-os-eua-cresceu-desde-a-crise-de-2015" target="_blank">“Fuga de cérebros” do Brasil para os EUA cresceu desde a crise de 2015</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

  </main>
</template>

<script>
import myChart from '@/components/myChart'

export default {
  name: 'page',
  props: {
    video: Number,
    pessoa: String
  },
  components: {
    myChart,
  },
  data () {
    return {
    }
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @media (max-width: 769px) {
    .conteudo .charts ul li {
      height: 20vh !important;
    }
  }
  @media (orientation: portrait) {
    .conteudo .charts ul li {
      height: 22vh !important;
    }
  }

  .fonte {margin-top: -3vh}

  .charts ul {margin-top: 0;}
  .charts li {height: 9vh !important;}

  .page .ul1 {
    font-size: 3vh;
    line-height: 5.5vh;
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    width: 88.3%;
    margin: 0 5vw;
  }
  .page .ul1 a, .page .ul1 span {color: #000; display: flex; align-items: center;}
  .page .ul1 a:hover {color: #fdc60d}
  .page .ul1 li {
    margin-bottom: 2vh;
    margin-left: 5vw;
    background-color: #fff;
    padding: 2vh 2vw;
  }
  .page .ul1 svg {
    height: 5vh; width: 5vh;
    margin-right: 2vw;
  }
  .page .ul1 a:hover svg {fill: #fdc60d}
  .page .ul1 ul {
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style: none;
    padding: 0;
    }
  .page .ul1 ul li {
    margin-bottom: 0;
    background-color: none;
    padding: 0;
  }

  .icon { width: 7vh !important; height: 7vh !important; margin-right: 1vw !important;}
</style>
