<template>
  <main class="conteudo">

      <section class="amp">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 293 410">
          <path class="animate qm" d="M43,121c0,0,6-85.9,103-85c53.5,0.5,85.5,38.5,85.5,83.5c0,104-105,93-94,191"/>
          <line class="animate dot" x1="147" y1="383" x2="141.75" y2="340.75"/>
        </svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper"><div class="content">
            <span>QUAL A PORCENTAGEM DA POPULAÇÃO BRASILEIRA</span>
          </div></div>
          <div class="wrapper"><div class="content">
            <span>QUE EMIGRA ATUALMENTE?</span>
          </div></div>
          <div class="fonte">Fonte: <a href="https://www.dw.com/pt-br/quantos-brasileiros-vivem-fora-do-pa%C3%ADs/a-44338466" target="_blank">UN DESA, 2017</a></div>
        </div>
        <div class="sliderWrapper">
          <mySlider :realAnswer="1.4" :maximum="30" :intervalo="0.1" @dragged="dragEnd"></mySlider>
        </div>
        <div :class="{'answerCaption': true, 'captionView': dragged}">
          <myChart :porcentagem="1.4" />
            <p>A estimativa do Ministério das Relações Exteriores é de que hajam em torno de 3 milhões de brasileiros no exterior, o que corresponde a 1,4% da população nacional.</p>
        </div>
      </section>

    </main>
</template>

<script>
import mySlider from '@/components/mySlider'
import myChart from '@/components/myChart'

export default {
  name: 'Imigrar',
  props: {
    video: Number,
    pessoa: String
  },
  components: {
    mySlider,
    myChart
  },
  data () {
    return {
      dragged: false,
    }
  },
  methods: {
    dragEnd() {
      this.dragged = true;
    },
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .animate {
    fill: none;
    stroke:#fff;
    stroke-width:40;
    transform: none;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
  }
  .qm{
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    transition: all 3s ease-in-out;
  }
  .dot {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: all .5s 1.3s ease-in-out;
  }
  .show .qm {
    stroke-dashoffset: 375;
  }
  .show .dot {
    stroke-dashoffset: 100;
  }

  .sliderWrapper {
    position: relative;
    padding: 0 10vw 2vh 10vw;
    transform: translateX(-5vw);
    opacity: 0;
    transition: all .5s 1.5s ease-in-out;
  }
  .show .sliderWrapper {opacity: 1; transform: none;}
  .answerCaption {
    margin: 0 10vw;
    line-height: 1.5em;
    opacity: 0;
    transform: translateX(-1vh);
    transition: all .3s ease-in-out;
    background-color: #fff;
    color: #000;
    padding: 1vh 7vw 1vh 2vw;
    height: 20vh;
    display: flex;
    align-items: center;
    font-size: large;
    position: relative;
  }
  .answerCaption.captionView {opacity: 1; transform: none;}
  .chart {width: 20vh;}
</style>
