<template>
  <main class="conteudo">

      <section class="amp">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"/></svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper"><div class="content">
            <span>Informe-se sobre a xenofobia que atinge os emigrantes brasileiros</span>
          </div></div>
          <div class="infobox">
            O que acontece em Portugal, que é um país socialista no governo: ele recebe bem os brasileiros, mas já estão começando a demonstrar que estão ficando saturados. Por exemplo, naquele caso recente em que estudantes brasileiros foram vítimas de xenofobia na Universidade de Lisboa... Na minha interpretação: está começando a surgir um partido da extrema direita em Portugal. Esse episódio foi, de fato, de um setor de extrema direita. Falando “olha, nós não queremos mais recebê-los”, e aí, “houve um rechaço”.
            <h3>MAURA PARDINI</h3>
          </div>
          <ul class="ul1">
            <li>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg>
                Confira algumas notícias sobre xenofobia</span>
              <ul>
                <li><a href="https://educacao.estadao.com.br/noticias/geral,contra-xenofobia-estudantes-brasileiros-em-portugal-distribuem-flores-e-poesias,70002813378" target="_blank">Contra xenofobia, estudantes brasileiros em Portugal distribuem flores e poesias</a></li>
                <li><a href="https://www1.folha.uol.com.br/mundo/2019/05/queixas-de-discriminacao-contra-brasileiros-em-portugal-disparam-em-2018.shtml" target="_blank">Denúncias de xenofobia contra brasileiros em Portugal crescem 150% em um ano</a></li>
                <li><a href="https://www.nexojornal.com.br/podcast/2019/05/28/As-queixas-de-xenofobia-contra-brasileiros-em-Portugal" target="_blank">O aumento da xenofobia contra brasileiros em Portugal</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
  </main>
</template>

<script>

export default {
  name: 'page',
  props: {
    video: Number,
    pessoa: String
  },
  data () {
    return {
    }
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.infobox::before {
  content: url('../../static/quote.svg');
  position: absolute;
  top: -5vh; left:-1.5vw;
  height: 10vh; width: 10vh;
}

.infobox::after {
  content: url('../../static/quote.svg');
  position: absolute;
  transform: rotate(180deg);
  bottom: -5vh; right:-1.5vw;
  height: 10vh; width: 10vh;
}

.page .ul1 {
  font-size: 3vh;
  line-height: 5.5vh;
  list-style: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  width: 94%;
}
.page .ul1 a, .page .ul1 span {color: #000; display: flex; align-items: center;}
.page .ul1 a:hover {color: #fdc60d}
.page .ul1 li {
  margin-bottom: 2vh;
  margin-left: 5vw;
  background-color: #fff;
  padding: 2vh 2vw;
}
.page .ul1 svg {
  height: 5vh; width: 5vh;
  margin-right: 2vw;
}
.page .ul1 a:hover svg {fill: #fdc60d}
.page .ul1 ul {
  font-size: 2vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  list-style: none;
  padding: 0;
  }
.page .ul1 ul li {
  margin-bottom: 0;
  background-color: none;
  padding: 0;
}

</style>
