<template>
  <main>
    <Intro v-if="$parent.firsAccess" />
    <CadavreExquis v-show="!$parent.firsAccess" :parts="3" :content="this.$root.$data.cadavreContent" />
    <audio :autoplay="!$parent.firsAccess" loop>
     <source :src="require('@/assets/pedestres.mp3')" type="audio/mpeg">
       Your browser does not support the audio element.
    </audio>
  </main>
</template>

<script>
import CadavreExquis from '@/components/Cadavre'
import Intro from '@/components/Intro'

export default {
  name: 'Abertura',
  components: {
    Intro,
    CadavreExquis,
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
