<template>
  <main>
    <article v-for="index in parts">
      <transition name="slide-fade">
        <div v-if="sameImage === 0">
          <aside class="next" @click="nextPart(index-1)"><span></span></aside>
          <aside class="last" @click="lastPart(index-1)"><span></span></aside>
        </div>
      </transition>
      <v-touch v-for="item in content"
               :class="['part', partClass(index-1, content.indexOf(item))]"
               :style="{ backgroundImage: `url('` + item.img +`')` }"
               @swipeleft="lastPart(index-1)"
               @swiperight="nextPart(index-1)"
               >
      </v-touch>
    </article>
    <transition name="slide-fade">
      <v-touch class="EnterCredit" v-if="sameImage != 0"
               @swipeleft="nextPerson()"
               @swiperight="lastPerson()"
              >
        <Credito :index="imageIndex">
          <router-link :to="{ name: 'Video', params: {vidId: imageIndex} }">
            <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
              <path class="stroke-solid" fill="none" stroke="white"  d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                C97.3,23.7,75.7,2.3,49.9,2.5"/>
              <path class="icon" fill="white" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z"/>
            </svg>
          </router-link>
        </Credito>
        <div class="nav">
          <aside class="next" @click="nextPerson()"><span></span></aside>
          <aside class="last" @click="lastPerson()"><span></span></aside>
        </div>
        <div class="random" @click="randomParts()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2 7h-2v-2h2c3.49 0 5.48 1.221 6.822 2.854-.41.654-.754 1.312-1.055 1.939-1.087-1.643-2.633-2.793-5.767-2.793zm16 10c-3.084 0-4.604-1.147-5.679-2.786-.302.627-.647 1.284-1.06 1.937 1.327 1.629 3.291 2.849 6.739 2.849v3l6-4-6-4v3zm0-10v3l6-4-6-4v3c-5.834 0-7.436 3.482-8.85 6.556-1.343 2.921-2.504 5.444-7.15 5.444h-2v2h2c5.928 0 7.543-3.511 8.968-6.609 1.331-2.893 2.479-5.391 7.032-5.391z"/></svg></div>
      </v-touch>
    </transition>
  </main>
</template>

<script>
import Credito from '@/components/Credito'

export default {
  name: 'CadavreExquis',
  props: {
    parts: Number,
    content: Array
  },
  components: {
    Credito
  },
  data () {
    return {
      selected: [0,0,0],
      forwards: [true, true, true],
      auto: true
    }
  },
  created: function () {
    this.loadCadavre()
  },
  watch: {
    '$route.params': function () {
      this.loadCadavre();
    }
  },
  computed: {
    sameImage() {
      return this.selected[0] == this.selected[1] && this.selected[0] == this.selected[2] ? this.selected[0] : 0;
    },
    imageIndex() {return this.sameImage - 1},
    nextFace(){
      return this.sameImage === this.content.length ? 1 : parseInt(this.sameImage) + 1;
    },
    lastFace(){
      return parseInt(this.sameImage) === 1 ? parseInt(this.content.length) : parseInt(this.sameImage) - 1;
    },
  },
  methods: {
    loadCadavre(){
      if (this.$route.params.id && parseInt(this.$route.params.id) < 8 && parseInt(this.$route.params.id) > 0 ) {
        this.auto = false;
        this.$parent.$parent.firsAccess = false;
        this.selected = [parseInt(this.$route.params.id), parseInt(this.$route.params.id), parseInt(this.$route.params.id)];
      } else {
        this.selected = [Math.floor(Math.random() * this.content.length)+1, Math.floor(Math.random() * this.content.length)+1, Math.floor(Math.random() * this.content.length)+1];
        if(this.selected.every( (val, i, arr) => val === arr[0] )){
          this.selected[0] = this.selected[0] == 1 ? 7 : this.selected[0] - 1;
        }
        if(this.auto) { this.swing(0) }
      }
    },
    partClass(section, item){
      if(this.forwards[section] == true) {
        if(this.selected[section] == item+1 ) {
          return 'seen fwd';
        } else if ( this.selected[section] == item+2 || this.selected[section] == 1 && item+1 == this.content.length ) {
          return 'before'
        }
      } else {
        if(this.selected[section] == item+1 ) {
          return 'seen bwd';
        } else if ( this.selected[section] == item || this.selected[section] == this.content.length && item == 0 ) {
          return 'after'
        }
      }
    },
    lastPart(section){
      this.$parent.$parent.firsAccess = false;
      this.auto = false;
      this.lastSection(section);
    },
    nextPart(section){
      this.$parent.$parent.firsAccess = false;
      this.auto = false;
      this.nextSection(section);
    },
    lastPerson(){
      this.lastSection(0);
      this.lastSection(1);
      this.lastSection(2);
    },
    nextPerson(){
      this.nextSection(0);
      this.nextSection(1);
      this.nextSection(2);
    },
    nextSection(section){
      this.forwards[section] = true;
      this.selected[section] === this.content.length ?
            this.selected.splice(section, 1, 1) :
            this.selected.splice(section, 1, this.selected[section] + 1);
    },
    lastSection(section){
      this.forwards[section] = false;
      this.selected[section] === 1 ?
            this.selected.splice(section, 1, this.content.length) :
            this.selected.splice(section, 1, this.selected[section] - 1);
    },
    randomParts() {
      this.nextPart(0);
      this.lastPart(2);
    },
    swing(part) {
      if(this.auto) {
        part = part == 3 ? 0 : part;
        let other = part == 2 ? 0 : part == 0 ? 1 : 2;
        if(this.selected[part] + 1 == this.selected[other]) {
          this.lastSection(part);
        } else if(this.selected[part] - 1 == this.selected[other]) {
          this.nextSection(part);
        } else {
          if(Math.random() >= 0.5){
            this.nextSection(part);
          } else {
            this.lastSection(part);
          }
        }
        setTimeout(() => this.swing(part+1), 2000);
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  * {
    box-sizing: border-box;
  }

  main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
  }

  article {
    position: relative;
    display: flex;
    align-items: center;
  }

  .part {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-size: auto 100vh;
    background-color: #fdc60d;
    background-blend-mode: multiply;
    z-index: 0;
    left: -100vw;
    opacity: 0;
  }

  article:nth-of-type(1) .part {background-position: top ;}
  article:nth-of-type(2) .part {background-position: center ;}
  article:nth-of-type(3) .part {background-position: bottom ;}


  .EnterCredit {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 99;
  }
  .infoDiv {
    top: 40vh; right: 15vw; bottom: 0; left: 15vw;
  }

/* ao encontrar */
  .stroke-solid {
    stroke-dashoffset: 0;
    stroke-dashArray: 300;
    stroke-width: 4px;
    transition: stroke-dashoffset 1s ease,  opacity 1s ease;
  }

  .icon {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  }

  #play:hover .stroke-dotted {
    stroke-width: 4px;
    opacity: 1;
  }
  #play:hover .stroke-solid {
    opacity: 0;
    stroke-dashoffset: 300;
  }
  #play:hover .icon {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #play {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    width: 20vh;
    height: 20vh;
  }

  .seen {z-index: 88; opacity: 1}
  .seen.fwd {animation: imgEnterB .5s both}
  .seen.bwd {animation: imgEnterL .5s both}
  .before   {z-index: 77; animation: imgLeaveB .5s both}
  .after    {z-index: 77; animation: imgLeaveA .5s both}

  .random {
    position: absolute;
    top: 5vh;
    right: 5vw;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    padding: 2vw;
    background-color: #000;
    border-radius: 50%;
    fill: #fdc60d;
    opacity: .7;
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
  }
  .random:hover{opacity: 1}

  @keyframes imgEnterB {
    0%   {left: -100vw}
    100% {left: 0}
  }
  @keyframes imgEnterL {
    0%   {left: 100vw}
    100% {left: 0}
  }
  @keyframes imgLeaveB {
    0% {left: 0;opacity: 1}
    99% {opacity: 1}
    100% {left: 100vw; opacity: 0}
  }
  @keyframes imgLeaveA {
    0% {left: 0; opacity: 1}
    99% {opacity: 1}
    100% {left: -100vw; opacity: 0}
  }

@media only screen and (min-width: 850px) {
  /* Setas */
    .next {right: -100%; cursor: pointer;}
    .next span {transform: rotate(-45deg) translateX(-2px) translateY(-2px);}
    .last {left: -100%; cursor: pointer;}
    .last span{ transform: rotate(135deg) translateX(-2px) translateY(-2px);}
    .next, .last {
      display: flex;
      position: absolute;
      transition: all .5s ease-in-out;
      align-items: center;
      width: 10vh;
      height: 10vh;
      text-align: center;
      padding: 6px 0;
      margin: 0 5vw;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 50%;
      background-color: rgba(0,0,0,0.8);
      z-index: 99;
    }
    .next:hover, .last:hover { background-color: rgba(0,0,0,1); }
    .next span, .last span {
      border: solid #fdc60d;
      border-width: 0 4px 4px 0;
      display: inline-block;
      padding: 8px;
      margin: auto;
    }

    .nav {position: absolute; top: 50%; width: 100%;}

    article:hover .next, .nav .next {right: 0;}
    article:hover .last, .nav .last {left: 0;}
  }
</style>
