<template>
  <div class="infoDiv">
    <h2>{{ this.$root.$data.cadavreContent[index].place }}</h2>
    <svg class="ida" v-if="this.$root.$data.cadavreContent[index].ida" version="1.1" x="0px" y="0px" viewBox="0 0 140.4 49" xml:space="preserve">
      <path d="M0,48.6V0.4h6.9v48.2H0z"/>
      <path d="M13.6,48.6V0.4h10.2c4,0,7,1.1,9,3.3c2.1,2.2,3.1,5.2,3.1,9.2v22.5c0,4.5-1.1,7.8-3.3,10c-2.2,2.1-5.3,3.2-9.4,3.2H13.6z
         M20.5,6.9v35.2h3.2c1.9,0,3.3-0.5,4.1-1.5c0.8-1,1.2-2.5,1.2-4.6V12.9c0-1.9-0.4-3.4-1.2-4.4c-0.8-1-2.2-1.6-4.2-1.6H20.5z"/>
      <path d="M38.5,48.6L49.3,0.4H55l10.8,48.2h-6.9l-2-10.4h-9.4l-2,10.4H38.5z M55.6,31.8l-3.4-17.5h-0.1l-3.4,17.5H55.6z"/>
      <path d="M91.5,14.3h-6.9v-1.6c0-1.6-0.4-2.9-1.1-4.1c-0.7-1.2-2-1.7-3.8-1.7c-0.9,0-1.7,0.2-2.3,0.5c-0.6,0.4-1.1,0.8-1.4,1.4
        c-0.4,0.6-0.6,1.3-0.7,2c-0.1,0.7-0.2,1.5-0.2,2.3c0,0.9,0,1.7,0.1,2.4c0.1,0.6,0.2,1.2,0.5,1.7c0.3,0.5,0.7,0.9,1.2,1.3
        c0.5,0.4,1.2,0.7,2.1,1.1l5.3,2.1c1.5,0.6,2.8,1.3,3.7,2.1c0.9,0.8,1.7,1.7,2.2,2.7c0.5,1.1,0.8,2.3,1,3.7c0.2,1.4,0.3,2.9,0.3,4.7
        c0,2-0.2,3.9-0.6,5.7c-0.4,1.7-1.1,3.2-2,4.4c-0.9,1.3-2.2,2.3-3.7,3c-1.5,0.7-3.4,1.1-5.6,1.1c-1.7,0-3.2-0.3-4.7-0.9
        c-1.4-0.6-2.7-1.4-3.7-2.4c-1-1-1.9-2.2-2.5-3.6c-0.6-1.4-0.9-2.9-0.9-4.5V35h6.9v2.2c0,1.3,0.4,2.4,1.1,3.4c0.7,1,2,1.5,3.8,1.5
        c1.2,0,2.1-0.2,2.7-0.5c0.7-0.3,1.2-0.8,1.5-1.5c0.4-0.6,0.6-1.4,0.6-2.3c0.1-0.9,0.1-1.9,0.1-2.9c0-1.3,0-2.3-0.1-3.1
        c-0.1-0.8-0.3-1.5-0.5-2c-0.3-0.5-0.7-0.9-1.3-1.2c-0.5-0.3-1.2-0.7-2.1-1l-4.9-2c-3-1.2-5-2.8-6-4.8c-1-2-1.5-4.5-1.5-7.5
        c0-1.8,0.2-3.5,0.7-5.1c0.5-1.6,1.2-3,2.2-4.2c0.9-1.2,2.2-2.1,3.6-2.8C76.3,0.4,78,0,80,0c1.7,0,3.3,0.3,4.7,0.9
        c1.4,0.6,2.7,1.5,3.7,2.5c2.1,2.2,3.1,4.7,3.1,7.4V14.3z"/>
      <path class="amp teste" d="M128,31.9c0,0-0.8-2.3-1.4-2.9c-0.4-0.4-2.1-0.9-2.1-0.9s-1.6,4.3-2.9,6.5l-10.5-13c3.5-2.7,5.9-5,7-7
        c1.1-2,1.7-4,1.7-6c0-2.8-0.9-4.9-2.8-6.3S112.8,0,110,0c-2.1,0-3.9,0.5-5.7,1.4s-3.1,2.3-4,4.1c-1,1.7-1.5,3.5-1.5,5.4
        c0,1.5,0.4,3.2,1.2,5c0.8,1.8,2,3.7,3.7,5.7c-5.4,4.5-8.2,9.4-8.2,14.6c0,3.7,1.3,6.8,3.9,9.2c2.6,2.4,6,3.6,10.3,3.6
        c2.2,0,4.3-0.4,6.2-1.1c1.9-0.7,3.9-2.1,5.8-4.2l3.3,3.9h7.1l-7.1-8.7C125.8,37.4,127.5,33.3,128,31.9z M105.9,5.9
        c0.9-1.1,2.2-1.7,3.7-1.7c1.7,0,3,0.5,3.8,1.4c0.8,0.9,1.2,2,1.2,3.3c0,1.4-0.6,2.9-1.8,4.5c-1.2,1.7-2.8,3.2-4.8,4.6
        c-0.3-0.4-0.5-0.7-0.7-0.9c-1.6-2.1-2.4-3.6-2.7-4.5c-0.2-0.9-0.3-1.8-0.3-2.7C104.5,8.3,104.9,7,105.9,5.9z M113.9,43.7
        c-1.3,0.5-2.6,0.7-4,0.7c-2.5,0-4.6-0.8-6.3-2.4c-1.7-1.6-2.6-3.7-2.6-6.2c0-3.8,1.9-7.3,5.6-10.5l12.1,14.8
        C116.8,42,115.2,43.3,113.9,43.7z"/>
      <path d="M134.3,21.4c-0.6,0.7-1.2,1.5-1.8,2.1c-1.1,1-1.1,4.2-1,4.5c0.2,0.6-0.2,0.9-0.5,1.3c-0.2,0.3-0.4,0-0.5-0.2
        c-0.5-0.9-1-1.8-1.5-2.7c-0.2-0.4-0.4-0.6-0.8-0.7c-1-0.3-2-0.6-3-0.9c-0.5-0.1-0.5-0.3-0.2-0.7c0.3-0.4,0.7-0.6,1.2-0.6
        c0.4,0,3.1-0.6,3.8-1.6c0.5-0.9,1.2-1.7,1.8-2.6c-1.2-0.5-2.4-0.9-3.5-1.4c-1.3-0.5-2.5-1-3.8-1.5c-0.4-0.2-0.5-0.3-0.2-0.7
        c0.6-0.9,1.3-1.3,2.4-1.1c2.5,0.4,5,0.7,7.4,1c0.4,0,0.6,0,0.8-0.3c0.8-1,1.6-1.9,2.4-2.9c0.5-0.6,1.1-1.1,1.9-1.2
        c0.9-0.2,1.4,0.2,1.4,1.2c0,0.8-0.3,1.5-0.8,2.1c-0.8,1-1.5,2-2.3,3c-0.2,0.3-0.2,0.5-0.1,0.8c1,2.5,1.9,4.9,2.8,7.4
        c0.3,0.8-0.1,1.9-0.8,2.4c-0.3,0.2-0.4,0-0.6-0.2c-0.8-1.2-1.7-2.4-2.5-3.7C135.6,23.3,134.9,22.4,134.3,21.4z"/>
    </svg>
    <svg class="ida" v-else version="1.1" x="0px" y="0px" viewBox="0 0 167.2 49" xml:space="preserve">
      <path class="amp" d="M29.9,38.9c0.9-1.5,3-7,3.4-8.4l-1.7-7.6c0,0-4,9.6-5.3,11.7c0,0-1.9,4.2-2.8,5.5c-1.6,2.2-3.6,3.2-4.9,3.6
        c-1.3,0.5-2.6,0.7-4,0.7c-2.5,0-4.6-0.8-6.3-2.4c-1.7-1.6-2.6-3.7-2.6-6.2c0-3.8,1.9-7.3,5.6-10.5L17,32c0.5-0.2,1-0.4,1.7-0.7
        c1.7-0.7,2.1-2.2,2.1-2.2l0.3-1l-5.3-6.6c3.5-2.7,5.9-5,7-7s1.7-4,1.7-6c0-2.8-0.9-4.9-2.8-6.3C19.9,0.7,17.6,0,14.8,0
        c-2.1,0-3.9,0.5-5.7,1.4c-1.7,1-3.1,2.3-4,4.1c-1,1.7-1.5,3.5-1.5,5.4c0,1.5,0.4,3.2,1.2,5c0.8,1.8,2,3.7,3.7,5.7
        C3.1,26.1,0.4,31,0.4,36.2c0,3.7,1.3,6.8,3.9,9.2c2.6,2.4,6,3.6,10.3,3.6c2.2,0,4.3-0.4,6.2-1.1c1.9-0.7,4-2,5.8-4.2
        C27.5,42.6,29.1,40.2,29.9,38.9z M10.7,5.9c0.9-1.1,2.2-1.7,3.7-1.7c1.7,0,3,0.5,3.8,1.4c0.8,0.9,1.2,2,1.2,3.3
        c0,1.4-0.6,2.9-1.8,4.5c-1.2,1.7-2.8,3.2-4.8,4.6c-0.3-0.4-0.5-0.7-0.7-0.9c-1.6-2.1-2.4-3.6-2.7-4.5c-0.2-0.9-0.3-1.8-0.3-2.7
        C9.2,8.3,9.7,7,10.7,5.9z"/>
      <path d="M24.5,38.6c-0.6-0.8-1.2-1.4-1.7-2.2c-0.8-1.2-4-1.8-4.3-1.8c-0.6,0.1-0.9-0.4-1.2-0.7c-0.3-0.3,0.1-0.4,0.3-0.5
        c1-0.4,2-0.7,3-1c0.4-0.1,0.6-0.3,0.8-0.7c0.4-1,0.9-1.9,1.4-2.8c0.2-0.5,0.3-0.5,0.7-0.1c0.3,0.4,0.5,0.7,0.4,1.2
        c-0.1,0.4,0,3.2,1,4c0.8,0.7,1.5,1.5,2.3,2.3c0.7-1.1,1.3-2.2,1.9-3.2c0.7-1.2,1.4-2.3,2.1-3.5c0.2-0.4,0.4-0.4,0.7-0.1
        c0.8,0.7,1.1,1.5,0.7,2.6c-0.8,2.4-1.5,4.8-2.3,7.2c-0.1,0.3-0.1,0.6,0.2,0.8c0.8,0.9,1.6,1.9,2.4,2.9c0.5,0.6,0.9,1.3,0.9,2.1
        c0,0.9-0.5,1.3-1.4,1.2c-0.8-0.1-1.4-0.5-1.9-1.1c-0.9-0.9-1.8-1.8-2.6-2.8c-0.2-0.3-0.4-0.3-0.8-0.2c-2.6,0.5-5.2,1-7.8,1.5
        c-0.8,0.2-1.9-0.5-2.2-1.2c-0.1-0.3,0.1-0.4,0.3-0.5c1.3-0.6,2.7-1.2,4-1.9C22.4,39.6,23.4,39.1,24.5,38.6z"/>
      <path d="M53.7,2.8l-8.9,43.4h-5.5L30.4,2.8H37L42,33.1h0.1l5-30.3H53.7z"/>
      <path d="M57.6,46.2V2.8h6.2v43.4H57.6z"/>
      <path d="M69.6,46.2V2.8h6L85,29h0.1V2.8h6.2v43.4h-5.9L76,20.1h-0.1v26.1H69.6z"/>
      <path d="M108.4,46.2c-3.7,0-6.5-1-8.5-2.9c-2-1.9-3-4.9-3-9V14c0-3.6,0.9-6.3,2.8-8.3s4.6-2.9,8.1-2.9h9.2v43.4H108.4z M108,8.6
        c-1.8,0-3.1,0.5-3.8,1.4c-0.7,0.9-1,2.3-1,4v20.9c0,1.9,0.4,3.2,1.1,4.1c0.7,0.9,2,1.3,3.7,1.3h2.9V8.6H108z"/>
      <path d="M119.4,46.2l9.7-43.4h5.2l9.7,43.4h-6.2l-1.8-9.3h-8.5l-1.8,9.3H119.4z M134.8,31l-3.1-15.7h-0.1L128.6,31H134.8z"/>
      <path d="M167.2,15.3H161v-1.4c0-1.4-0.3-2.7-1-3.7c-0.7-1-1.8-1.6-3.4-1.6c-0.9,0-1.5,0.2-2.1,0.5c-0.5,0.3-1,0.7-1.3,1.2
        c-0.3,0.5-0.6,1.1-0.7,1.8c-0.1,0.7-0.2,1.4-0.2,2.1c0,0.9,0,1.6,0.1,2.1c0.1,0.6,0.2,1.1,0.5,1.5c0.2,0.4,0.6,0.8,1.1,1.2
        c0.5,0.3,1.1,0.7,1.9,1l4.8,1.9c1.4,0.5,2.5,1.1,3.4,1.9c0.9,0.7,1.5,1.5,2,2.5c0.4,1,0.8,2.1,0.9,3.3c0.2,1.2,0.2,2.7,0.2,4.2
        c0,1.8-0.2,3.5-0.5,5.1c-0.4,1.6-1,2.9-1.8,4c-0.9,1.1-2,2-3.4,2.7c-1.4,0.7-3.1,1-5.1,1c-1.5,0-2.9-0.3-4.2-0.8s-2.4-1.3-3.4-2.2
        c-0.9-0.9-1.7-2-2.2-3.3c-0.5-1.2-0.8-2.6-0.8-4.1V34h6.2v2c0,1.1,0.3,2.2,1,3.1c0.7,0.9,1.8,1.4,3.4,1.4c1.1,0,1.9-0.2,2.5-0.5
        c0.6-0.3,1-0.7,1.4-1.3c0.3-0.6,0.5-1.3,0.6-2c0.1-0.8,0.1-1.7,0.1-2.7c0-1.1,0-2.1-0.1-2.8c-0.1-0.7-0.2-1.3-0.5-1.8
        c-0.3-0.4-0.7-0.8-1.1-1.1c-0.5-0.3-1.1-0.6-1.9-0.9l-4.5-1.8c-2.7-1.1-4.5-2.6-5.4-4.4c-0.9-1.8-1.4-4.1-1.4-6.8
        c0-1.6,0.2-3.2,0.7-4.6c0.4-1.5,1.1-2.7,2-3.8c0.9-1.1,1.9-1.9,3.3-2.5c1.3-0.6,2.9-0.9,4.7-0.9c1.5,0,3,0.3,4.2,0.9
        c1.3,0.6,2.4,1.3,3.3,2.3c1.9,2,2.8,4.2,2.8,6.7V15.3z"/>
    </svg>
    <h1>
      {{ this.$root.$data.cadavreContent[index].name }}
      <span>{{ this.$root.$data.cadavreContent[index].work }}</span>
    </h1>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Credito',
  props: ['index'],
  data () {
    return {};
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  h2{
    position: absolute;
    font-size: 18.5vh;
    top: -21vh;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: type 5s 1.5s steps(100, end) both;
  }

  .infoDiv{
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 99;
    white-space: nowrap;
  }
  .infoDiv h1 {
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin: 14vh 0 0 5vw;
  }
  .infoDiv span {
    background-color: #fdc60d;
    color: #000;
    display: block;
    padding: 2px 20px;
    font-size: .6em;
    position: absolute;
  }
  svg {
    height: 15vh;
    position: absolute;
  }
  .ida path{fill: #fff}
  .ida .amp{fill: #fdc60d}

  .ida path:nth-of-type(1) {animation: hide .1s 1s both}
  .ida path:nth-of-type(2) {animation: hide .1s 1.1s both}
  .ida path:nth-of-type(3) {animation: hide .1s 1.2s both}
  .ida path:nth-of-type(4) {animation: hide .1s 1.3s both}
  .ida path:nth-of-type(5) {animation: hide .1s 1.4s both}
  .ida path:nth-of-type(6) {animation: hide .1s 1.5s both}
  .ida path:nth-of-type(7) {animation: hide .1s 1.6s both}
  .ida path:nth-of-type(8) {animation: hide .1s 1.7s both}
  .ida {animation: hide .1s 2s both}
  @keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  @keyframes type {
    0%{width: 0;}
    100%{ width: 30em; }
  }

  @media (orientation: portrait) {
    svg {
      height: 15vw;
    }
    h2 {
      font-size: 18.5vw;
      top: -12vh;
    }
  }
</style>
