<template>
  <main>

    <vimeo-player ref="player" class="player" @timeupdate="timeUpdate" @ended="menuOn" @ready="loading = false" @pause="paused = true" @play="paused = false" video-id="340206606" :options="options" ></vimeo-player>
    <div class="play" v-if="loading == false && paused == true && !info" @click="$refs.player.play();">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 24 24" xml:space="preserve">
        <path d="M6.7,21.4V2.6L19.3,12L6.7,21.4z"/>
      </svg>
    </div>
    <transition name="slide-fade">
      <Credito v-show="credito && !info" pessoa="diana" ></credito>
    </transition>
    <div class="pular" @click="menuOn" v-show="!info">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 viewBox="0 0 24 24" xml:space="preserve">
        <path d="M6.7,21.4V2.6L19.3,12L6.7,21.4z"/>
      </svg>
      <h2>PULAR</h2>
    </div>

    <article :class="{ 'show': info }">

      <section class="amp">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 -20 374.94 530.96">
          <path id="loop" d="M154.5,362.8c0,0-127.6-151.6-163.6-194.9c-24.6-29.6-45.7-47.7-45.7-85.2c0-34.1,21.1-66.8,64.1-66.8c69,0,86.4,76.5,0,138.5c-93.6,67.2-111.7,136.8-60.2,181.2c60.2,51.9,154.1,10.5,186.2-113.7"/>
        </svg>
      </section>

      <section>
        <router-link :to="{ name: 'Imigrar' }">
          <h1>I.MI.GRAR</h1>
          <div><span>CONHEÇA MAIS SOBRE OS IMIGRANTES QUE CHEGAM AO PAÍS</span></div>
        </router-link>
        <router-link :to="{ name: 'Emigrar' }">
          <h1>E.MI.GRAR</h1>
          <div><span>CONHEÇA QUEM SÃO OS BRASILEIROS QUE TÊM SAÍDO DO PAÍS</span></div>
        </router-link>
      </section>

    </article>
  </main>
</template>

<script>
import Credito from '@/components/GC'

export default {
  name: 'Deslocamentos',
  components: {
    Credito
  },
  data () {
    return {
      player: null,
      options: { color: 'fdc60d', autoplay: true, title: false, controls: true },
      info: false,
      credito: false,
      loading: true,
      paused: false,
    }
  },
  methods: {
    menuOn() {
      this.$refs.player.pause();
      this.info = true;
    },
    menuOff() {
      this.$refs.player.play();
      this.info = false;
    },
    timeUpdate(time) {
      this.credito = time.seconds > 1 && time.seconds < 7 ? true : false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  main {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
  }

  .player, .player >>> iframe{
    width: 100%;
    height: 100%;
    margin: auto;
  }

  article {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 20vh 0 0 15vw;
    background-color: rgba(253, 198, 13, .5);
    opacity: 0;
    left: -100vw;
    transition: opacity 1s ease-in-out;
  }
  section {
    position: absolute;
    height: 100vh;
  }
  .pular {
    position: absolute;
    top: 5vh; right: 5vw;
    text-align: center;
    background-color: #000;
    color: #fdc60d;
    fill: #fdc60d;
    padding: 1vh 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .pular svg {height: 2vh;}
  .pular h2 {margin: 0; padding: 0 0 0 1vw;}
  .pular:hover {
    fill: #fff;
    color: #fff;
    border-color: #fff;
  }
  .play {
    position: absolute;
    top:50vh; left: 50vw;
    transform: translate3d(-50%,-50%,0);
    cursor: pointer;
  }
  .play svg {
    height: 10vh;
    fill: #fdc60d;
  }
  .play:hover svg {
    fill: #fff;
  }
  .amp {
    position: absolute;
    top: 0; left: 5vw;
    margin: 30vh 0;
  }
  .amp svg{
    height: 60vh;
    width: 60vw;
  }
  article a {
    display: block;
    text-decoration: none;
    padding-bottom: 10vh;
  }
  h1 {
    font-size: 5em;
    margin: 2vh 0;
    color: #000;
    opacity: 0;
    transform: translateX(5vh);
  }
  a:nth-child(1) h1{transition: all 1s ease-in-out .5s}
  a:nth-child(2) h1{transition: all 1s ease-in-out 1s}
  a span{transition: all 1s ease-in-out 1.5s}
  span {
    background-color: #000;
    color: #fff;
    padding: 1vh 1vw;
    font-weight: 200;
    opacity: 0;
    margin-left: 5vh;
  }
  #loop {
    fill: none;
    stroke:#fff;
    stroke-width:40;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    transform: none;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    transition: all 3s ease-in-out;
  }

  .show {
    left: 0;
    opacity: 1;
  }
  .show h1, .show span {
    opacity: 1;
    transform: none;
    margin-left: 0;
  }
  .show #loop {
    stroke-dashoffset: 375;
  }

  /* Animações de entrada e saída  */
  .slide-fade-enter-active {
    transition: all .5s ease-in-out;
  }
  .slide-fade-leave-active {
    transition: all .5s ease-in-out;
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
    transform: translateX(10vw);
    opacity: 0;
  }

  @media (orientation: portrait) {
    span {
      line-height: 2em;
    }
  }
</style>
