<template>
  <main>
    <router-link :to="{ name: 'Home' }">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 -20 1129 780">
        <path class="st0" d="M-1.6,375.5V0.7h53.7v374.8H-1.6z"/>
        <path class="st0" d="M104.2,375.5V0.7h79.5C214.6,0.7,238,9.1,254,26s24,40.7,24,71.6v175.3c0,35.1-8.5,61-25.5,77.6
          c-17,16.7-41.5,25-73.4,25H104.2z M157.9,51.2V325h24.7c15.1,0,25.8-3.8,32.1-11.3c6.3-7.5,9.5-19.4,9.5-35.5V97.6
          c0-14.7-3-26.1-8.9-34.2c-6-8.1-16.9-12.1-32.6-12.1H157.9z"/>
        <path class="st0" d="M297.9,375.5L381.6,0.7h44.7l83.7,374.8h-53.7L440.6,295h-73.2l-15.8,80.5H297.9z M430.6,244.4l-26.3-135.8
          h-1.1l-26.3,135.8H430.6z"/>
        <path class="st0" d="M710.1,108.6h-53.7V96.5c0-12.3-2.9-22.9-8.7-31.8c-5.8-9-15.5-13.4-29.2-13.4c-7.4,0-13.3,1.4-17.9,4.2
          c-4.6,2.8-8.2,6.3-11.1,10.5c-2.8,4.6-4.7,9.7-5.8,15.5c-1.1,5.8-1.6,11.8-1.6,18.2c0,7.4,0.3,13.5,0.8,18.4
          c0.5,4.9,1.8,9.3,3.9,13.2c2.1,3.9,5.2,7.2,9.2,10c4,2.8,9.6,5.6,16.6,8.4l41.1,16.3c11.9,4.6,21.6,9.9,29,16.1
          c7.4,6.1,13.2,13.3,17.4,21.3c3.9,8.4,6.5,18,7.9,28.7c1.4,10.7,2.1,22.9,2.1,36.6c0,15.8-1.6,30.4-4.7,44
          c-3.2,13.5-8.3,25-15.3,34.5c-7.4,9.8-17,17.6-29,23.2c-11.9,5.6-26.5,8.4-43.7,8.4c-13,0-25.1-2.3-36.3-6.8
          c-11.2-4.6-20.9-10.9-29-19c-8.1-8.1-14.5-17.5-19.2-28.2c-4.7-10.7-7.1-22.4-7.1-35v-20h53.7v16.8c0,9.8,2.9,18.7,8.7,26.6
          c5.8,7.9,15.5,11.8,29.2,11.8c9.1,0,16.2-1.3,21.3-3.9c5.1-2.6,9-6.4,11.8-11.3c2.8-4.9,4.5-10.8,5-17.6s0.8-14.5,0.8-22.9
          c0-9.8-0.4-17.9-1.1-24.2c-0.7-6.3-2.1-11.4-4.2-15.3c-2.5-3.9-5.7-7-9.7-9.5c-4-2.5-9.4-5.1-16.1-7.9l-38.4-15.8
          c-23.2-9.5-38.7-22-46.6-37.6c-7.9-15.6-11.8-35.2-11.8-58.7c0-14,1.9-27.4,5.8-40c3.9-12.6,9.7-23.5,17.4-32.6
          c7.4-9.1,16.7-16.4,28.2-21.8c11.4-5.4,25-8.2,40.8-8.2c13.3,0,25.5,2.5,36.6,7.4c11.1,4.9,20.6,11.4,28.7,19.5
          c16.1,16.8,24.2,36.2,24.2,57.9V108.6z"/>
        <path class="st0" d="M270.7,421.1l-67.4,328.6h-41.5L94.9,421.1h49.8l37.4,229.3h0.9l37.8-229.3H270.7z"/>
        <path class="st0" d="M300.2,749.7V421.1h47.1v328.6H300.2z"/>
        <path class="st0" d="M391.1,749.7V421.1h45.2l71.1,198h0.9v-198h47.1v328.6h-44.3l-72-197.5h-0.9v197.5H391.1z"/>
        <path class="st0" d="M684.6,749.7c-28,0-49.4-7.3-64.4-21.9c-14.9-14.6-22.4-37.3-22.4-68.1V506c0-27.1,7-48,21-62.8
          c14-14.8,34.5-22.1,61.6-22.1h69.7v328.6H684.6z M681.4,465.4c-13.8,0-23.4,3.5-28.6,10.6c-5.2,7.1-7.8,17.1-7.8,30v158.3
          c0,14.2,2.8,24.5,8.3,31.1c5.5,6.6,14.9,9.9,28.1,9.9h21.7v-240H681.4z"/>
        <path class="st0" d="M767.7,749.7L841,421.1h39.2l73.4,328.6h-47.1l-13.8-70.6h-64.1l-13.8,70.6H767.7z M884,634.8l-23.1-119.1H860
          l-23.1,119.1H884z"/>
        <path class="st0" d="M1129,515.7h-47.1v-10.6c0-10.8-2.5-20.1-7.6-27.9c-5.1-7.8-13.6-11.8-25.6-11.8c-6.5,0-11.7,1.2-15.7,3.7
          c-4,2.5-7.2,5.5-9.7,9.2c-2.5,4-4.2,8.5-5.1,13.6c-0.9,5.1-1.4,10.4-1.4,15.9c0,6.5,0.2,11.8,0.7,16.1c0.5,4.3,1.6,8.2,3.5,11.5
          c1.8,3.4,4.5,6.3,8.1,8.8c3.5,2.5,8.4,4.9,14.5,7.4l36,14.3c10.5,4,18.9,8.7,25.4,14.1c6.5,5.4,11.5,11.6,15.2,18.7
          c3.4,7.4,5.7,15.8,6.9,25.1c1.2,9.4,1.8,20.1,1.8,32.1c0,13.8-1.4,26.7-4.1,38.5c-2.8,11.8-7.2,21.9-13.4,30.2
          c-6.5,8.6-14.9,15.4-25.4,20.3c-10.5,4.9-23.2,7.4-38.3,7.4c-11.4,0-22-2-31.8-6c-9.8-4-18.3-9.5-25.4-16.6
          c-7.1-7.1-12.7-15.3-16.8-24.7c-4.2-9.4-6.2-19.6-6.2-30.7v-17.5h47.1v14.8c0,8.6,2.5,16.4,7.6,23.3c5.1,6.9,13.6,10.4,25.6,10.4
          c8,0,14.2-1.2,18.7-3.5c4.5-2.3,7.9-5.6,10.4-9.9c2.5-4.3,3.9-9.5,4.4-15.5c0.5-6,0.7-12.7,0.7-20.1c0-8.6-0.3-15.7-0.9-21.2
          c-0.6-5.5-1.8-10-3.7-13.4c-2.1-3.4-5-6.1-8.5-8.3c-3.5-2.1-8.2-4.5-14.1-6.9l-33.7-13.8c-20.3-8.3-33.9-19.3-40.8-33
          c-6.9-13.7-10.4-30.8-10.4-51.5c0-12.3,1.7-24,5.1-35.1c3.4-11.1,8.5-20.6,15.2-28.6c6.5-8,14.7-14.4,24.7-19.2
          c10-4.8,21.9-7.1,35.8-7.1c11.7,0,22.4,2.2,32.1,6.5c9.7,4.3,18.1,10,25.1,17.1c14.1,14.8,21.2,31.7,21.2,50.8V515.7z"/>
        <path id="guia" d="M1004.5,362.8c0,0-127.6-151.6-163.6-194.9c-24.6-29.6-45.7-47.7-45.7-85.2c0-34.1,21.1-66.8,64.1-66.8c69,0,86.4,76.5,0,138.5c-93.6,67.2-111.7,136.8-60.2,181.2c60.2,51.9,154.1,10.5,186.2-113.7"/>
        <path id="plane" class="st0" d="M1043.6,164.3c-4.8,5.5-9,11-14,15.6c-8.3,7.6-8.2,31.9-7.6,34.1c1.3,4.3-1.5,7.1-3.6,9.9
          c-1.8,2.3-3.1-0.1-3.9-1.5c-3.9-6.9-7.9-13.8-11.6-20.8c-1.5-2.8-3.3-4.3-6.4-5.1c-7.7-2-15.3-4.2-22.9-6.5c-3.8-1.1-3.8-2-1.4-5
          c2.3-2.8,5-4.4,8.7-4.4c2.7,0,23.7-4.4,28.4-12.4c4-6.8,9-13,13.9-20c-9.2-3.6-17.8-6.9-26.4-10.3c-9.6-3.7-19.1-7.5-28.7-11.1
          c-3.2-1.2-3.7-2.5-1.7-5.4c4.5-6.5,9.7-9.9,18.3-8.5c18.7,3,37.5,5.1,56.2,7.7c2.7,0.4,4.2-0.3,5.9-2.3c5.9-7.4,12.1-14.6,18.2-21.9
          c3.9-4.7,8.5-8.2,14.5-9.4c6.7-1.4,10.5,1.8,10.6,8.7c0.1,6-2.2,11.2-5.7,15.9c-5.8,7.7-11.4,15.5-17.3,23.1c-1.6,2-1.6,3.6-0.8,5.9
          c7.2,18.7,14.4,37.3,21.3,56.1c2.2,5.9-1.1,14.7-6.3,18c-2.3,1.5-3.2-0.3-4.2-1.7c-6.4-9.2-12.7-18.5-19.1-27.7
          C1053.4,178.4,1048.7,171.6,1043.6,164.3z" />
      </svg>
    </router-link>
    <h1>A página que você solicitou não existe.<br />Por favor, retorne ao início.</h1>
    <div class="arrow">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 650 958">
        <polyline points="325.1,624.6 557.7,819.9 263.6,895.9 "/>
        <path d="M496,804c-208.2,6.1-381.9-157.9-388-366.4S265.8,55.3,473.9,49.2"/>
      </svg>
      <span>Se preferir navegar através do menu, clique neste ícone</span>
    </div>
  </main>
</template>

<script>

export default {
  name: 'Erro',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
main {
  background-color: #fdc60d;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30vh 30vw;
  text-align: center;
}

main svg {
  margin: 5vw;
}

.arrow {
  position: absolute;
  top: 0vh;
  left: 0vw;
  display: flex;
  align-items: baseline;
}
.arrow svg {
  transform: rotate(180deg)rotateY(180deg);
  height: 9vh;
  stroke:#000; fill: none;
  margin: 40px 0 0 1vw;
}
.arrow path {stroke-width:100;}
.arrow polyline{stroke-width: 80;}
#plane {
  animation: loop-plane 6s 1.5s infinite;
  opacity: 0;
}
#guia {
  fill: none;
  stroke:#000;
  stroke-width:40;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 3s 1s infinite alternate;
  transform: none;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1600;
  }
  to {
    stroke-dashoffset: 275;
  }
}
@keyframes loop-plane {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate3d(-20%,25%,0);
  }
  30% {
    margin-top: 30px;
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    transform: translate3d(-4%,7.5%,0);
    opacity: 0;
  }
  75% {
    transform: rotate(90deg)translate3d(-70%,-135%,0);
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(90deg)translate3d(-60%,-150%,0);
    opacity: 0;
  }
}
</style>
