<template>
  <div class="infoDiv">
    <h1 v-if="pessoa == 'alan'">
      Allan Rodrigo de Campos Silva
      <span>Doutor em Geografia Humana</span>
    </h1>
    <h1 v-else-if="pessoa == 'denise'">
      Denise Cogo
      <span>Doutora em Ciências da Comunicação<br /> e Coordenadora do Grupo de pesquisa <i>Deslocar</i></span>
    </h1>
    <h1 v-else-if="pessoa == 'diana'">
      Diana Quintas
      <span>Advogada Especialista em Imigração</span>
    </h1>
    <h1 v-else-if="pessoa == 'maura'">
      Maura Pardini Bicudo Véras
      <span>Doutora em Ciências Sociais</span>
    </h1>
    <h1 v-else-if="pessoa == 'paolo'">
      Padre Paolo
      <span>Diretor da Missão Paz</span>
    </h1>
    <h1 v-else-if="pessoa == 'wellington'">
      Wellington de Barros
      <span>Responsável pelo Centro de Estudos Migratórios</span>
    </h1>
    <h1 v-else-if="pessoa == 'roymar'">
      Roymar Cristina Martinez
      <span>Esposa do Edwars</span>
    </h1>
    <h1 v-else-if="pessoa == 'cristiane'">
      Cristiane Matos Morais
      <span>Mãe da Marcella / Dona de Casa</span>
    </h1>
    <h1 v-else-if="pessoa == 'kinuko'">
      Kinuko Itakaki
      <span>Esposa do Tadasi / Aposentada</span>
    </h1>
  </div>
</template>

<script>
export default {
  name: 'Credito',
  props: ['pessoa'],
  data () {
    return {};
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .infoDiv{
    position: absolute;
    transition: all .5s ease-in-out;
    z-index: 99;
    white-space: nowrap;
    bottom: 15vh;
  }
  .infoDiv h1 {
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin: 14vh 0 0 5vw;
  }
  .infoDiv span {
    background-color: #fdc60d;
    color: #000;
    display: block;
    padding: 2px 20px;
    font-size: .6em;
    position: absolute;
  }
  svg {
    height: 15vh;
    position: absolute;
  }
  .ida path{fill: #fff}
  .ida .amp{fill: #fdc60d}

  .ida path:nth-of-type(1) {animation: hide .1s 1s both}
  .ida path:nth-of-type(2) {animation: hide .1s 1.1s both}
  .ida path:nth-of-type(3) {animation: hide .1s 1.2s both}
  .ida path:nth-of-type(4) {animation: hide .1s 1.3s both}
  .ida path:nth-of-type(5) {animation: hide .1s 1.4s both}
  .ida path:nth-of-type(6) {animation: hide .1s 1.5s both}
  .ida path:nth-of-type(7) {animation: hide .1s 1.6s both}
  .ida path:nth-of-type(8) {animation: hide .1s 1.7s both}
  .ida {animation: hide .1s 2s both}
  @keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  @keyframes type {
    0%{width: 0;}
    100%{ width: 30em; }
  }
</style>
