<template>
  <main>
    <div v-if="loading" class="loading">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 -20 374.94 530.96">
        <path id="loop" d="M304.5,362.8c0,0-127.6-151.6-163.6-194.9c-24.6-29.6-45.7-47.7-45.7-85.2c0-34.1,21.1-66.8,64.1-66.8c69,0,86.4,76.5,0,138.5c-93.6,67.2-111.7,136.8-60.2,181.2c60.2,51.9,154.1,10.5,186.2-113.7"/>
        <path id="loop_plane" d="M343.6,164.3c-4.8,5.5-9,11-14,15.6c-8.3,7.6-8.2,31.9-7.6,34.1c1.3,4.3-1.5,7.1-3.6,9.9
          c-1.8,2.3-3.1-0.1-3.9-1.5c-3.9-6.9-7.9-13.8-11.6-20.8c-1.5-2.8-3.3-4.3-6.4-5.1c-7.7-2-15.3-4.2-22.9-6.5c-3.8-1.1-3.8-2-1.4-5
          c2.3-2.8,5-4.4,8.7-4.4c2.7,0,23.7-4.4,28.4-12.4c4-6.8,9-13,13.9-20c-9.2-3.6-17.8-6.9-26.4-10.3c-9.6-3.7-19.1-7.5-28.7-11.1
          c-3.2-1.2-3.7-2.5-1.7-5.4c4.5-6.5,9.7-9.9,18.3-8.5c18.7,3,37.5,5.1,56.2,7.7c2.7,0.4,4.2-0.3,5.9-2.3c5.9-7.4,12.1-14.6,18.2-21.9
          c3.9-4.7,8.5-8.2,14.5-9.4c6.7-1.4,10.5,1.8,10.6,8.7c0.1,6-2.2,11.2-5.7,15.9c-5.8,7.7-11.4,15.5-17.3,23.1c-1.6,2-1.6,3.6-0.8,5.9
          c7.2,18.7,14.4,37.3,21.3,56.1c2.2,5.9-1.1,14.7-6.3,18c-2.3,1.5-3.2-0.3-4.2-1.7c-6.4-9.2-12.7-18.5-19.1-27.7
          C353.4,178.4,348.7,171.6,343.6,164.3z" transform="" />
      </svg>
    </div>
  </main>
</template>

<script>
export default {
  name: 'Index',
  data () {
    return {
      count: 0,
      maxCount: 4,
      options: { color: 'fdc60d', muted:true, autoplay: true, title: false, controls: false, loop: true },
      loading: true
    }
  },
  methods: {
    startCounting() {
      this.loading = false;
      this.count += 1;
      if(this.count < this.maxCount) {
        window.setTimeout(function() { this.startCounting()  }.bind(this), 8000);
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  main {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .loading {
    width: 100vw;
    margin: 40vw;
  }
  #loop {
    fill: none;
    stroke:#fdc60d;
    stroke-width:40;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: dash 3s 1s infinite alternate;
    transform: none;
    opacity: 1;
  }
  #loop_plane {
    fill: #fff;
    animation: loop-plane 6s 1.5s infinite;
  }


  @keyframes dash {
    from {
      stroke-dashoffset: 1600;
    }
    to {
      stroke-dashoffset: 275;
    }
  }
  @keyframes loop-plane {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
      transform: translate3d(-20%,25%,0);
    }
    30% {
      margin-top: 30px;
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    50% {
      transform: translate3d(-4%,7.5%,0);
      opacity: 0;
    }
    75% {
      transform: rotate(90deg)translate3d(-20%,-70%,0);
      opacity: 0;
    }
    85% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: rotate(90deg)translate3d(0,-85%,0);
      opacity: 0;
    }
  }
</style>
