<template>
  <div class="chart">
    <svg version="1.1" id="graph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120" xml:space="preserve">
      <circle class="bg-circle" cx="60" cy="60" r="47.5"/>
      <circle class="stroke-solid" cx="60" cy="60" r="47.5" :style="{ 'stroke-dashoffset': (100 - porcentagem) * 3}"/>
    </svg>
    <div class="info">
      {{ porcentagem }}%
    </div>
  </div>
</template>

<script>
export default {
  name: 'myChart',
  props: {
    porcentagem: Number,
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .chart{position: relative;}
  .chart, #graph {height: 100%;}
  .bg-circle, .stroke-solid {fill: none; stroke-width:10; stroke-dasharray: 300;}
  .bg-circle {stroke: rgba(0,0,0,.5);}
  .stroke-solid {
    stroke: #000;
    transition: all .5 ease-in-out;
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center;
  }
  .info {
    position: absolute;
    display: flex;
    color: #000;
    font-weight: 700;
    font-size: 3vh;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    top: 0;
  }
</style>
