<template>
  <nav class="navigation" v-if="imigrar">
    <div class="heading">
      <div class="back">
        <router-link :to="{ name: 'Emigrar' }">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-7-5.5l3.5 3.5-3.5 3.5V11h-4V9h4V6.5zm-6 11L5.5 14 9 10.5V13h4v2H9v2.5z"/></svg>
          <div class="description">
            Mude para o menu<br /><b>E.MI.GRAR</b>
          </div>
        </router-link>
      </div>
      <h1>i.mi.grar</h1>
      <span>Estabelecer-se em um país estrangeiro</span>
    </div>
    <div class="links">
      <ul>
        <li> <!-- PERFIL -->
          <router-link :to="{ name: 'PerfilImigrante' }">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
            <div class="description">
              DESCUBRA O PERFIL DOS IMIGRANTES QUE CHEGAM AO BRASIL
            </div>
          </router-link>
        </li>
        <li> <!-- JUSTICA -->
          <router-link :to="{ name: 'DireitoImigrante' }">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M1 21h12v2H1zM5.245 8.07l2.83-2.827 14.14 14.142-2.828 2.828zM12.317 1l5.657 5.656-2.83 2.83-5.654-5.66zM3.825 9.485l5.657 5.657-2.828 2.828-5.657-5.657z"/></svg>
            <div class="description">
              SAIBA QUAIS SÃO OS DIREITOS E DEVERES DE UM ESTRANGEIRO NO BRASIL
            </div>
          </router-link>
        </li>
        <li> <!-- MÍDIA -->
          <router-link :to="{ name: 'MidiaImigrante' }">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.5 17.15l3.98-2.28c.67-.38.67-1.35 0-1.74l-3.98-2.28c-.67-.38-1.5.11-1.5.87v4.55c0 .77.83 1.26 1.5.88zM21 6h-7.59l2.94-2.94c.2-.2.2-.51 0-.71s-.51-.2-.71 0L12 5.99 8.36 2.35c-.2-.2-.51-.2-.71 0s-.2.51 0 .71L10.59 6H3c-1.1 0-2 .89-2 2v12c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.11-.9-2-2-2zm-1 14H4c-.55 0-1-.45-1-1V9c0-.55.45-1 1-1h16c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1z"/></svg>
            <div class="description">
              ENTENDA A REPRESENTAÇÃO DOS IMIGRANTES NA MÍDIA
            </div>
          </router-link>
        </li>
        <li> <!-- XENOFOBIA -->
          <router-link :to="{ name: 'XenofobiaImigrante' }">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"/></svg>
            <div class="description">
              INFORME-SE SOBRE A XENOFOBIA NO BRASIL
            </div>
          </router-link>
        </li>
        <li> <!-- MISSAO PAZ -->
          <router-link :to="{ name: 'PazImigrante' }">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
            <div class="description">
              CONHEÇA A MISSÃO PAZ
            </div>
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navigation" v-else>
    <div class="back">
      <router-link :to="{ name: 'Imigrar' }">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-7-5.5l3.5 3.5-3.5 3.5V11h-4V9h4V6.5zm-6 11L5.5 14 9 10.5V13h4v2H9v2.5z"/></svg>
        <div class="description">
          Mude para o menu<br /><b>I.MI.GRAR</b>
        </div>
      </router-link>
    </div>
    <div class="heading">
      <h1>E.mi.grar</h1>
      <span>Sair de um país para ir viver em outro</span>
    </div>
    <div class="links">
      <ul>
        <li> <!-- PERFIL -->
          <router-link :to="{ name: 'PerfilEmigrante' }">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
            <div class="description">
              DESCUBRA O PERFIL DOS BRASILEIROS QUE SAEM DO PAÍS
            </div>
          </router-link>
        </li>
        <li> <!-- DESTINOS -->
          <router-link :to="{ name: 'DestinoEmigrante' }">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z"/></svg>
            <div class="description">
              SAIBA QUAIS SÃO OS PRINCIPAIS DESTINOS DE QUEM DEIXA O BRASIL
            </div>
            </router-link>
        </li>
        <li> <!-- PAÍSES -->
          <router-link :to="{ name: 'PaisesEmigrante' }">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"/></svg>
          <div class="description">
            SAIBA QUAIS SÃO OS PRINCIPAIS PAÍSES PRODUTORES DE EMIGRANTES
          </div>
          </router-link>
        </li>
        <li> <!-- XENOFOBIA -->
          <router-link :to="{ name: 'XenofobiaEmigrante' }">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"/></svg>
          <div class="description">
            INFORME-SE SOBRE A XENOFOBIA QUE ATINGE OS EMIGRANTES BRASILEIROS
          </div>
          </router-link>
        </li>
        <li> <!-- FUGA -->
          <router-link :to="{ name: 'FugaEmigrante' }">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.49 5.48c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-3.6 13.9l1-4.4 2.1 2v6h2v-7.5l-2.1-2 .6-3c1.3 1.5 3.3 2.5 5.5 2.5v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1l-5.2 2.2v4.7h2v-3.4l1.8-.7-1.6 8.1-4.9-1-.4 2 7 1.4z"/></svg>
            <div class="description">
              SAIBA O QUE É A FUGA DE CÉREBROS
            </div>
            </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'myNav',
  props: {
    imigrar: Boolean,
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1 {
    font-size: 5em;
    margin: 2vh 0;
    color: #000;
    }

  span {
    background-color: #000;
    color: #fff;
    padding: 1vh 1vw;
    font-weight: 200;
    line-height: 2em;
  }

  .navigation {
    width: 100vw;
    padding: 8vh 10vw 0 5vw;
    position: absolute;
    clear: both;
    top: 100vh;
  }

  .heading {
    margin: 10vh 5vw 10vh 0;
  }

  .links ul { list-style: none; display: flex;}
  .links ul li {display: block; flex: 1 1 0; text-align: center;}
  .links ul li svg {height: 10vh; width: 10vh; max-width: 10vw;}

  .description {
    position: relative;
    background-color: #fff;
    padding: 2vh 2vw;
    border-radius: 10px;
    opacity: 0;
    color: #000;
  }
  .description::before {
    position: absolute;
    display: block;
    content: '';
    top: -7px;
    left: 45%;
    background-color: #fff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
  }

  path, .description {transition: all .1s ease-in-out;}
  .links ul li:hover svg path {fill: #fff;}
  .links ul li:hover .description { opacity: 1; transform: translateY(2vh)}

  .back {
    position: absolute;
    top: 5vh; right: 5vw;
    width: 10vh; height: 10vh;
  }
  .back:hover svg {
    fill: #fff;
  }
  .back .description {
    width: 15vw;
    transform: translate3d(-60%, 2vh, 0);
  }
  .back .description::before {
    right: 2.5vw; left: auto;
  }
  .back:hover .description {opacity: 1;}

  @media (max-width: 769px) {
    .description {
      font-size: 3vh;
    }
  }
  @media (orientation: portrait) {
    .back {
      width: 10vw;
      height: 10vw;
    }
    .links ul {
      padding-left: 0;
    }
    .description {
      font-size: 3vw;
    }
  }
</style>
