<template>
  <section :class="{ 'slider': true, 'hideAviso': answer}">
    <div class="seta">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 650 958">
        <polyline points="325.1,624.6 557.7,819.9 263.6,895.9 "/>
        <path d="M496,804c-208.2,6.1-381.9-157.9-388-366.4S265.8,55.3,473.9,49.2"/>
      </svg>
    </div>
    <div class="aviso">Arraste a barra para opinar</div>
    <div class="medida">
      <div>0%</div>
      <div>{{maximum/2}}%</div>
      <div>{{maximum}}%</div>
    </div>
    <vue-slider v-model="value" :max="maximum" :interval="intervalo" @change="testDrag" @drag-start="dragging = true" @drag-end="dragEnded"/>
    <span class="myValue">{{value}}</span>
    <div class="myAnswer">
      <span :style="{ width: answer ? realAnswer * 100 / maximum + '%' : 0 + '%'}"></span>
    </div>
    <span class="realValue" v-show="answer">{{realAnswer}}</span>
  </section>
</template>

<script>
import VueSlider from 'vue-slider-component'
import '@/assets/css/slidergame.css'

export default {
  name: 'mySlider',
  props: {
    realAnswer: Number,
    maximum: { default: 100, type: Number},
    intervalo: { default: 1, type: Number}
  },
  components: {
    VueSlider
  },
  data () {
    return {
      value: 0,
      answer: false,
      dragging: false
    }
  },
  methods: {
    dragEnded() {
      this.dragging = false;
      this.answer = true;
      this.$emit('dragged');
    },
    testDrag() {
      if( this.dragging == false) {
        console.log('clicou');
        this.answer = true;
        this.$emit('dragged');
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .slider {
    display: block;
    width: 100%;
  }

  .medida {
    width: 92%;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
  .aviso {
    background-color: #fdc60d;
    margin: -2vh 0 2vh -30px;
    padding: 1vh 1vw;
    display: inline-block;
    transition: all .3s .6s ease-in-out;
  }
  .seta {
    position: absolute;
    top:1vh;
    margin-left: -60px;
    transition: all .3s .6s ease-in-out;
  }
  .seta svg {
    height: 9vh;
  }
  .seta path, .seta polyline{stroke:#fdc60d; fill: none;}
  .seta path {stroke-width:100;}
  .seta polyline{stroke-width: 80;}
  .hideAviso .seta, .hideAviso .aviso {transform: translateX(-1vw); opacity: 0;}

  .myValue, .realValue {
    font-weight: 700;
    float: right;
    display: block;
    font-size: small;
  }
  .realValue {font-size: large}
  .myValue { color: #fff;}

  .myAnswer {
    position: relative;
    float: left;
    clear: both;
    width: 90%;
  }
  .myAnswer span {
    position: absolute;
    height: 2vh;
    background-color: #000;
    transition: all 1s ease-in-out;
  }
  .realValue {color: #000;}

  .slider >>> .vue-slider-rail {background-color: rgba(0,0,0,0); border-radius: 0; border: 2px solid #fff; border-top: none;}
  .slider >>> .vue-slider-dot-handle, .slider >>> .vue-slider-process {border-radius: 0; background-color: #fff;}
</style>
