<template>
  <main class="pagina">
    <Loading v-if="loading == true" />

    <vimeo-player v-if="video != 0" ref="player" :class="['player', pessoa]" @timeupdate="timeUpdate" @ready="loading = false" @pause="paused = true" @play="paused = false"  @ended="menuOn" :video-id="video" :options="options" ></vimeo-player>
    <div class="play" v-if="loading == false && paused == true && !info" @click="$refs.player.play();">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 24 24" xml:space="preserve">
        <path d="M6.7,21.4V2.6L19.3,12L6.7,21.4z"/>
      </svg>
    </div>
    <transition name="slide-fade">
      <Credito v-show="credito && !info" :pessoa="pessoa"></credito>
    </transition>
    <transition name="slide-fade">
      <Credito v-if="pessoaB != ''" v-show="creditoB && !info" :pessoa="pessoaB"></credito>
    </transition>
    <div class="pular" @click="menuOn" v-show="!info">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 viewBox="0 0 24 24" xml:space="preserve">
        <path d="M6.7,21.4V2.6L19.3,12L6.7,21.4z"/>
      </svg>
      <h2>PULAR</h2>
    </div>
    <article :class="{'show': info, 'hideQuestion': goMenu}">
      <div class="close" @click="menuOff">
        <div class="arrow"></div>
      </div>

      <router-view @infos="onChildInit"/>

    <section class="pageNav">
      <navigationMenu :imigrar="imigrar"/>
    </section>

    <div :class="{'trigger': true, 'triggered': goMenu}" @click="triggerMenu">
      <div class="arrow"></div>
    </div>
  </article>

  </article>

  </main>
</template>

<script>
import navigationMenu from '@/components/myNav'
import Credito from '@/components/GC'
import Loading from '@/components/Loading'

export default {
  name: 'page',
  props: {
    imigrar: Boolean
  },
  components: {
    navigationMenu,
    Credito,
    Loading
  },
  data () {
    return {
      player: null,
      options: { color: 'fdc60d', autoplay: true, title: false, controls: true },
      info: false,
      goMenu: false,
      credito: false,
      creditoB: false,
      loading: true,
      paused: false,
      video: 0,
      pessoa: '',
      pessoaB: ''
    }
  },
  methods: {
    onChildInit( value ){
      this.video = value[0];
      this.pessoa = value[1];
      if(value[2]){this.pessoaB = value[2]}
    },
    menuOn() {
      this.$refs.player.pause();
      this.info = true;
    },
    menuOff() {
      this.$refs.player.play();
      this.info = false;
    },
    triggerMenu() {
      this.goMenu = !this.goMenu
    },
    timeUpdate(time) {
      this.credito = time.seconds > 1 && time.seconds < 7 ? true : false
      this.creditoB = time.seconds > 20 && time.seconds < 26 ? true : false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1 {
    font-size: 5em;
    margin: 2vh 0;
    color: #000;
    opacity: 0;
    transform: translateX(5vh);
  }

  span {
    background-color: #000;
    color: #fff;
    padding: 1vh 1vw;
    font-weight: 200;
    margin-left: 5vh;
  }

  .pagina >>> b {
    display: contents;
  }

  .pagina {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
  }

  .pagina .player, .pagina .player >>> iframe{
    width: 100vw;
    height: 100vh;
    margin: auto;
  }

  .pagina article {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(253, 198, 13, .5);
    opacity: 0;
    left: -100vw;
    top: 0;
    transition: opacity 1s ease-in-out;
  }


  .pular {
    position: absolute;
    top: 5vh; right: 5vw;
    text-align: center;
    background-color: #000;
    color: #fdc60d;
    fill: #fdc60d;
    padding: 1vh 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .pular svg {height: 2vh;}
  .pular h2 {margin: 0; padding: 0 0 0 1vw;}
  .pular:hover {
    fill: #fff;
    color: #fff;
    border-color: #fff;
  }

  .play {
    position: absolute;
    top:50vh; left: 50vw;
    transform: translate3d(-50%,-50%,0);
    cursor: pointer;
  }
  .play svg {
    height: 10vh;
    fill: #fdc60d;
  }
  .play:hover svg {
    fill: #fff;
  }
  /* inside page */

    .pagina >>> .conteudo .infobox {
      background-color: #fff;
      padding: 5vh 5vw;
      margin: 5vh 5vw;
      line-height: 2em;
      position: relative;
      opacity: 0;
      transform: translateX(-1vw);
    }
    .pagina >>> .conteudo .infobox h2 {
      position: absolute;
      top: -5vh; left: -2vw;
      background-color: #fdc60d;
      padding: 1vh 1vw;
    }
    .pagina >>> .conteudo .infobox h3 {
      position: absolute;
      bottom: -5vh; left: 1vw;
      background-color: #fdc60d;
      padding: 1vh 1vw;
      font-size: .8em;
    }

    .pagina >>> .conteudo .charts ul {list-style: none; display: flex; flex-direction: column; margin-left: 10vw; margin-right: 5vw;}
    .pagina >>> .conteudo .charts ul li {
      display: flex;
      height: 10vh;
      align-items: center;
      margin-top:2vh;
      opacity: 0;
      transform: translateX(-1vw);
      position: relative;
      font-size: large;
      background-color: #fff;
      padding: 0 4vw 0 1vw;
    }
    .pagina >>> .limage {margin-right: 1vw;}
    .pagina >>> .limage, .pagina >>> .limage svg {height: 100%;}
    .pagina >>> .conteudo .charts ul li svg {max-height: 100%; float: left;}
    .pagina >>> .conteudo .charts .special {padding-right: 3vw; font-size: 2em; margin-left: -2vw; font-weight: 700;}



  /* trigger */
  .pagina .trigger {
    position: absolute;
    bottom: 3vh; left: 50vw;
    height: 10vh; max-height: 10vw;
    width: 10vh; max-width: 10vw;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    opacity: 0;
    transition: all 2s ease-in-out, opacity .3s 3s ease-in-out;
  }

  .pagina .arrow{
      display: block;
      width: 20%;
      height: 20%;
      border-bottom: .5vh solid rgba(253, 198, 13, .5);
      border-right: .5vh solid rgba(253, 198, 13, .5);
      transform: rotate(45deg)translate3d(-10%,-10%,0);
      margin: auto;
  }
  .pagina .trigger:hover .arrow {
    border-color: #fff;
  }
  .pagina .show .trigger.triggered {
    bottom: 85vh;
    transform-origin: center;
    transform: rotate(180deg);
  }

  .pagina .close {
    width: 10vh; height: 10vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #000;
    position: absolute;
    top: 3vh; right: 3vw;
    opacity: .7;
    cursor: pointer;
    z-index: 99;
    transition: all 2s ease-in-out;
  }
  .pagina .close .arrow {transform: rotate(135deg);}
  .pagina .close:hover { opacity: 1;}

  /* icones */
  .pagina >>> .conteudo .amp {
    position: absolute;
    margin: 10vh 0 0 0;
    top:0; left: 0;
  }
  .pagina >>> .conteudo .amp svg{
    height: 50vh;
    width: 50vw;
    fill: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s .5s ease-in-out;
  }
  .pagina >>> .conteudo .page  {
    padding: 15vh 0 0 15vw;
    display: flex;
    flex-direction: column;
    position: absolute;
  }

    /* titulos */

    .pagina >>> .conteudo .wrapper {
      margin: 2vh 15vw .5vh 0;
      width: 0px;
      overflow: hidden;
    }
    .pagina >>> .conteudo .wrapper span {
      background-color: #000;
      color: #fff;
      padding: 1vh 1vw;
      display: inline-table;
      white-space: nowrap;
    }
    .pagina >>> .conteudo .question .wrapper span {
      font-family: 'Barlow Condensed', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2em;
    }

    .pagina >>> .conteudo .fonte {
      display: inline-block;
      margin-left: 50vw;
      padding: 5px;
      background-color: #fdc60d;
      color: #fff;
      font-size: small;
    }
    .pagina >>> .conteudo .fonte a { color: #000 }
    .pagina >>> .conteudo .fonte a:hover { color: #fff }

    /* mapa */
    .pagina >>> .conteudo .place {position: absolute; height: 5vh; cursor: pointer;}
    .pagina >>> .conteudo .place svg {height: 100%; fill: #fdc60d;}
    .pagina >>> .conteudo .description {
      margin-top: -5vh;
      margin-left: 1vw;
      position: relative;
      background-color: #000;
      padding: 2vh 2vw;
      border-radius: 10px;
      color: #fdc60d;
      display: none;
    }
    .pagina >>> .conteudo .description b{
      text-transform: uppercase;
    }
    .pagina >>> .conteudo .place svg:hover ~ .description {display: block;}

    /* ----------------- */

    .pagina .show {
      left: 0;
      opacity: 1;
    }
    .pagina .show >>> .conteudo h1, .pagina .show >>> .conteudo span {
      opacity: 1;
      transform: none;
      margin-left: 0;
    }

  .pagina .show .trigger {opacity: 1;}
  .pagina .show >>> .conteudo .amp svg {transform: translateX(-20%); opacity: 1;}
  .pagina .show >>> .conteudo .question .wrapper:nth-child(1) {transition: all 1.5s ease-in-out .6s;}
  .pagina .show >>> .conteudo .question .wrapper:nth-child(2) {transition: all 1.5s ease-in-out 1s;}
  .pagina .show >>> .conteudo .question .wrapper {width: auto;}
  .pagina .show >>> .conteudo .infobox:nth-child(1){transition: all 1s 1s ease-in-out; transform: none; opacity: 1;}
  .pagina .show >>> .conteudo .infobox:nth-child(2){transition: all 1s 1.5s ease-in-out; transform: none; opacity: 1;}
  .pagina .show >>> .conteudo .infobox:nth-child(3){transition: all 1s 1s ease-in-out; transform: none; opacity: 1;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(1) {transition: all 1s 1.5s ease-in-out; transform: none; opacity: 1;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(2) {transition: all 1s 2s ease-in-out; transform: none; opacity: 1;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(3) {transition: all 1s 2.5s ease-in-out; transform: none; opacity: 1;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(4) {transition: all 1s 3s ease-in-out; transform: none; opacity: 1;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(5) {transition: all 1s 3.5s ease-in-out; transform: none; opacity: 1;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(1) .chart svg .stroke-solid {animation: circle-chart-fill 2s 3s both;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(2) .chart svg .stroke-solid {animation: circle-chart-fill 2s 3.5s both;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(3) .chart svg .stroke-solid {animation: circle-chart-fill 2s 4s both;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(4) .chart svg .stroke-solid {animation: circle-chart-fill 2s 4.5s both;}
  .pagina .show >>> .conteudo .charts ul li:nth-child(5) .chart svg .stroke-solid {animation: circle-chart-fill 2s 5s both;}

  .pagina >>> .conteudo .amp, .pagina >>> .conteudo .page, .pagina .pageNav { transition: all 2s ease-in-out }
  .pagina .hideQuestion .close, .pagina .hideQuestion >>> .conteudo .amp, .pagina .hideQuestion >>> .conteudo .page, .pagina .hideQuestion .pageNav {transform: translateY(-100vh);}

  @keyframes circle-chart-fill {
    0% { stroke-dashoffset: 300 }
  }

  /* Animações de entrada e saída  */
  .pagina >>> .conteudo .slide-fade-enter-active {
    transition: all .5s ease-in-out;
  }
  .pagina >>> .conteudo .slide-fade-leave-active {
    transition: all .5s ease-in-out;
  }
  .pagina >>> .conteudo .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
    transform: translateX(10vw);
    opacity: 0;
  }

  @media (max-width: 769px) {
    .pagina >>> .conteudo .page {
      padding-top: 0;
    }
    .pagina >>> .conteudo .infobox {
      line-height: 1.5em;
      font-size: .9em;
    }
    .pagina >>> .conteudo .charts ul li {
      font-size: 4vh !important;
    }
    .description {
      font-size: 3vh;
    }
  }

  @media (orientation: portrait) {
    .pagina .player {
      transform: translateX(-50%);
    }
    .pular {
      width: 10vw;
      height: 10vw;
    }
    .description {
      font-size: 3vw;
    }
    .pagina .player.diana {transform: translateX(-150%);}
    .pagina .player.maura, .pagina .player.denise {transform: translateX(-100%);}
    .pagina >>> .conteudo .wrapper span {
      white-space: normal;
    }
    span {
      line-height: 2em;
    }
    .pagina >>> .conteudo .charts ul li {
      font-size: 4vw !important;
      height: 15vh;
    }
    .pagina >>> .conteudo .charts .chart {
      height: 10vh;
      width: 10vh;
    }
    .pagina >>> .limage{
      max-height: 10vh;
    }
  }
  </style>
