<template>
  <main>
    <vimeo-player style="opacity: .5" ref="player" class="player" video-id="340232110" :options="options"></vimeo-player>

    <article class="opening">

      <div class="logo">
          <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1129 750" style="enable-background:new 0 0 1129 750;" xml:space="preserve">
            <path class="st0" d="M1043.6,164.3c-4.8,5.5-9,11-14,15.6c-8.3,7.6-8.2,31.9-7.6,34.1c1.3,4.3-1.5,7.1-3.6,9.9
              c-1.8,2.3-3.1-0.1-3.9-1.5c-3.9-6.9-7.9-13.8-11.6-20.8c-1.5-2.8-3.3-4.3-6.4-5.1c-7.7-2-15.3-4.2-22.9-6.5c-3.8-1.1-3.8-2-1.4-5
              c2.3-2.8,5-4.4,8.7-4.4c2.7,0,23.7-4.4,28.4-12.4c4-6.8,9-13,13.9-20c-9.2-3.6-17.8-6.9-26.4-10.3c-9.6-3.7-19.1-7.5-28.7-11.1
              c-3.2-1.2-3.7-2.5-1.7-5.4c4.5-6.5,9.7-9.9,18.3-8.5c18.7,3,37.5,5.1,56.2,7.7c2.7,0.4,4.2-0.3,5.9-2.3c5.9-7.4,12.1-14.6,18.2-21.9
              c3.9-4.7,8.5-8.2,14.5-9.4c6.7-1.4,10.5,1.8,10.6,8.7c0.1,6-2.2,11.2-5.7,15.9c-5.8,7.7-11.4,15.5-17.3,23.1c-1.6,2-1.6,3.6-0.8,5.9
              c7.2,18.7,14.4,37.3,21.3,56.1c2.2,5.9-1.1,14.7-6.3,18c-2.3,1.5-3.2-0.3-4.2-1.7c-6.4-9.2-12.7-18.5-19.1-27.7
              C1053.4,178.4,1048.7,171.6,1043.6,164.3z"/>
            <path class="st1" d="M995.9,243.6c0,0-6.2-17.5-10.6-21.7c-3.1-3-15.8-6.9-15.8-6.9s-12.3,32.6-21.9,49l-79.8-98.2
              c26.8-20.4,44.5-38.1,53-53.3s12.7-30.3,12.7-45.4c0-20.8-7-36.8-21-47.9c-14-11.1-31.4-16.7-52.2-16.7c-15.5,0-29.8,3.6-42.7,10.9
              S794.5,30.8,787.2,44c-7.3,13.2-11,26.8-11,40.9c0,11.6,3.1,24.1,9.3,37.5c6.2,13.4,15.5,27.9,27.8,43.4
              c-41.2,34.3-61.7,71.1-61.7,110.5c0,28.3,9.8,51.5,29.4,69.7c19.6,18.2,45.5,27.3,77.6,27.3c16.9,0,32.5-2.7,47-8.2
              c14.5-5.5,29.2-16,43.9-31.5l24.6,29.2h53.6L974.2,297C979.9,285.5,992.6,254.4,995.9,243.6z M828.9,46.8
              c7.2-8.4,16.5-12.6,27.9-12.6c13.2,0,22.9,3.5,29.1,10.4c6.2,7,9.3,15.4,9.3,25.2c0,10.3-4.4,21.7-13.3,34.4
              c-8.9,12.7-20.8,24.4-35.9,35.1c-2.3-3.1-4-5.3-5.1-6.8c-11.7-15.8-18.5-27.2-20.2-34.2c-1.8-7-2.6-13.8-2.6-20.5
              C818.1,65.5,821.7,55.2,828.9,46.8z M889.4,333.1c-10,3.4-20,5.2-30,5.2c-18.6,0-34.4-6-47.5-18c-13-12-19.6-27.8-19.6-47.2
              c0-28.6,14.2-55.2,42.6-79.8l91.4,112.3C911.8,320.5,899.5,329.7,889.4,333.1z"/>
            <path class="st0" d="M-1.6,375.5V0.7h53.7v374.8H-1.6z"/>
            <path class="st0" d="M104.2,375.5V0.7h79.5C214.6,0.7,238,9.1,254,26s24,40.7,24,71.6v175.3c0,35.1-8.5,61-25.5,77.6
              c-17,16.7-41.5,25-73.4,25H104.2z M157.9,51.2V325h24.7c15.1,0,25.8-3.8,32.1-11.3c6.3-7.5,9.5-19.4,9.5-35.5V97.6
              c0-14.7-3-26.1-8.9-34.2c-6-8.1-16.9-12.1-32.6-12.1H157.9z"/>
            <path class="st0" d="M297.9,375.5L381.6,0.7h44.7l83.7,374.8h-53.7L440.6,295h-73.2l-15.8,80.5H297.9z M430.6,244.4l-26.3-135.8
              h-1.1l-26.3,135.8H430.6z"/>
            <path class="st0" d="M710.1,108.6h-53.7V96.5c0-12.3-2.9-22.9-8.7-31.8c-5.8-9-15.5-13.4-29.2-13.4c-7.4,0-13.3,1.4-17.9,4.2
              c-4.6,2.8-8.2,6.3-11.1,10.5c-2.8,4.6-4.7,9.7-5.8,15.5c-1.1,5.8-1.6,11.8-1.6,18.2c0,7.4,0.3,13.5,0.8,18.4
              c0.5,4.9,1.8,9.3,3.9,13.2c2.1,3.9,5.2,7.2,9.2,10c4,2.8,9.6,5.6,16.6,8.4l41.1,16.3c11.9,4.6,21.6,9.9,29,16.1
              c7.4,6.1,13.2,13.3,17.4,21.3c3.9,8.4,6.5,18,7.9,28.7c1.4,10.7,2.1,22.9,2.1,36.6c0,15.8-1.6,30.4-4.7,44
              c-3.2,13.5-8.3,25-15.3,34.5c-7.4,9.8-17,17.6-29,23.2c-11.9,5.6-26.5,8.4-43.7,8.4c-13,0-25.1-2.3-36.3-6.8
              c-11.2-4.6-20.9-10.9-29-19c-8.1-8.1-14.5-17.5-19.2-28.2c-4.7-10.7-7.1-22.4-7.1-35v-20h53.7v16.8c0,9.8,2.9,18.7,8.7,26.6
              c5.8,7.9,15.5,11.8,29.2,11.8c9.1,0,16.2-1.3,21.3-3.9c5.1-2.6,9-6.4,11.8-11.3c2.8-4.9,4.5-10.8,5-17.6s0.8-14.5,0.8-22.9
              c0-9.8-0.4-17.9-1.1-24.2c-0.7-6.3-2.1-11.4-4.2-15.3c-2.5-3.9-5.7-7-9.7-9.5c-4-2.5-9.4-5.1-16.1-7.9l-38.4-15.8
              c-23.2-9.5-38.7-22-46.6-37.6c-7.9-15.6-11.8-35.2-11.8-58.7c0-14,1.9-27.4,5.8-40c3.9-12.6,9.7-23.5,17.4-32.6
              c7.4-9.1,16.7-16.4,28.2-21.8c11.4-5.4,25-8.2,40.8-8.2c13.3,0,25.5,2.5,36.6,7.4c11.1,4.9,20.6,11.4,28.7,19.5
              c16.1,16.8,24.2,36.2,24.2,57.9V108.6z"/>
            <path class="st0" d="M270.7,421.1l-67.4,328.6h-41.5L94.9,421.1h49.8l37.4,229.3h0.9l37.8-229.3H270.7z"/>
            <path class="st0" d="M300.2,749.7V421.1h47.1v328.6H300.2z"/>
            <path class="st0" d="M391.1,749.7V421.1h45.2l71.1,198h0.9v-198h47.1v328.6h-44.3l-72-197.5h-0.9v197.5H391.1z"/>
            <path class="st0" d="M684.6,749.7c-28,0-49.4-7.3-64.4-21.9c-14.9-14.6-22.4-37.3-22.4-68.1V506c0-27.1,7-48,21-62.8
              c14-14.8,34.5-22.1,61.6-22.1h69.7v328.6H684.6z M681.4,465.4c-13.8,0-23.4,3.5-28.6,10.6c-5.2,7.1-7.8,17.1-7.8,30v158.3
              c0,14.2,2.8,24.5,8.3,31.1c5.5,6.6,14.9,9.9,28.1,9.9h21.7v-240H681.4z"/>
            <path class="st0" d="M767.7,749.7L841,421.1h39.2l73.4,328.6h-47.1l-13.8-70.6h-64.1l-13.8,70.6H767.7z M884,634.8l-23.1-119.1H860
              l-23.1,119.1H884z"/>
            <path class="st0" d="M1129,515.7h-47.1v-10.6c0-10.8-2.5-20.1-7.6-27.9c-5.1-7.8-13.6-11.8-25.6-11.8c-6.5,0-11.7,1.2-15.7,3.7
              c-4,2.5-7.2,5.5-9.7,9.2c-2.5,4-4.2,8.5-5.1,13.6c-0.9,5.1-1.4,10.4-1.4,15.9c0,6.5,0.2,11.8,0.7,16.1c0.5,4.3,1.6,8.2,3.5,11.5
              c1.8,3.4,4.5,6.3,8.1,8.8c3.5,2.5,8.4,4.9,14.5,7.4l36,14.3c10.5,4,18.9,8.7,25.4,14.1c6.5,5.4,11.5,11.6,15.2,18.7
              c3.4,7.4,5.7,15.8,6.9,25.1c1.2,9.4,1.8,20.1,1.8,32.1c0,13.8-1.4,26.7-4.1,38.5c-2.8,11.8-7.2,21.9-13.4,30.2
              c-6.5,8.6-14.9,15.4-25.4,20.3c-10.5,4.9-23.2,7.4-38.3,7.4c-11.4,0-22-2-31.8-6c-9.8-4-18.3-9.5-25.4-16.6
              c-7.1-7.1-12.7-15.3-16.8-24.7c-4.2-9.4-6.2-19.6-6.2-30.7v-17.5h47.1v14.8c0,8.6,2.5,16.4,7.6,23.3c5.1,6.9,13.6,10.4,25.6,10.4
              c8,0,14.2-1.2,18.7-3.5c4.5-2.3,7.9-5.6,10.4-9.9c2.5-4.3,3.9-9.5,4.4-15.5c0.5-6,0.7-12.7,0.7-20.1c0-8.6-0.3-15.7-0.9-21.2
              c-0.6-5.5-1.8-10-3.7-13.4c-2.1-3.4-5-6.1-8.5-8.3c-3.5-2.1-8.2-4.5-14.1-6.9l-33.7-13.8c-20.3-8.3-33.9-19.3-40.8-33
              c-6.9-13.7-10.4-30.8-10.4-51.5c0-12.3,1.7-24,5.1-35.1c3.4-11.1,8.5-20.6,15.2-28.6c6.5-8,14.7-14.4,24.7-19.2
              c10-4.8,21.9-7.1,35.8-7.1c11.7,0,22.4,2.2,32.1,6.5c9.7,4.3,18.1,10,25.1,17.1c14.1,14.8,21.2,31.7,21.2,50.8V515.7z"/>
          </svg>
          <div class="scroll-down"></div>
      </div>

      <section>
        <h1>SOBRE</h1>
        <p><b>Idas &amp; Vindas</b> é um Projeto Experimental de Graduação em Jornalismo da ESPM-SP, tendo como formato o webdocumentário. Um dos principais objetivos do projeto é a investigação do fluxo migratório no Brasil, mas que também é um fator social no mundo todo que pode acontecer por motivos econômicos, políticos e sociais.</p>
        <p>Mudar significa deslocar, alterar, modificar, ou seja, as pessoas mudam a partir do momento em que algo não é tão bom quanto deveria ser. Atualmente no Brasil, existem problemas que fazem com que os cidadãos migrem para outros países em busca de uma nova realidade.</p>
        <p>Cerca de três milhões de brasileiros moram fora do Brasil, o que faz com que a emigração seja o fluxo migratório mais intenso nos dias de hoje no país. No entanto, também há o oposto. Estrangeiros que vêm para o Brasil a procura de melhores oportunidades de vida. Hoje a estimativa é de que entre 700 e 1 milhão de estrangeiros estejam morando aqui.</p>
        <p>Este webdocumentário mostra algumas histórias de idas e vindas dessas pessoas que, em sua maioria, buscam melhores condições de estudo, trabalho, mas que também podem mudar por um amor e, na ação de se moverem, deslocarem, imigrarem e emigrarem, escrevem suas histórias, por vezes, difíceis, emocionantes e com muita esperança de uma nova realidade.</p>
        <br />
        <h1>INTEGRANTES</h1>
        <div class="about">
          <div>
            <img src="static/imgs/amanda.jpg" alt="Fotografia Amanda" />
            <h2>AMANDA KRAINER<br /><small>28 ANOS</small></h2>
            <p>Me formei aos 20, em Letras, mas me encontrei de verdade com quase 30 no Jornalismo. Amo viajar e conhecer o diferente. Aprecio bons filmes, séries e documentários. A relação de Idas & Vindas comigo é recente. Meu primeiro contato com o exterior foi em 2013 e de lá para cá foram 5 viagens para a Europa. Conheci 12 países e 19 cidades. Esses números não são só números, eles representam muitas coisas para mim, muitas realizações e muito orgulho. A ideia é conhecer mais, muuuito mais, pois em cada viagem não é só um lugar novo que eu visito, é uma cultura nova que eu adquiro, são informações novas que eu descubro, é um preconceito que é quebrado, é um respeito pelo diferente que eu desenvolvo, é uma maturidade que eu construo, é uma nova Amanda que vai se formando.</p>
          </div>

          <div>
            <img src="static/imgs/deborah.jpg" alt="Fotografia Deborah" />
            <h2>DEBORAH TRUNK<br /><small>24 ANOS</small></h2>
            <p>Sonhadora, detalhista, curiosa e tenho necessidade de movimento. Viajar sempre fez parte da minha vida. Cada viagem que realizei durante toda essa trajetória teve um significado muito importante para mim. Vai muito além de iniciar a programar uma viagem. É como se fosse respirar, é amadurecer, é vivenciar cada momento, é buscar se encontrar em cada cantinho do mundo, com o que há de mais verdadeiro na sua alma. É um ciclo infinito sempre fez tão bem para a minha essência.  Viajar é trocar a roupa da própria alma, porque de todos os livros do mundo, as melhores histórias são encontradas pelas páginas de um passaporte carimbado. E com este estado de paz, é que eu me enriqueço como ser humano. Como a gente se transforma quando se abre para o mundo! Se joga!</p>
          </div>

          <div>
            <img src="static/imgs/nath.jpg" alt="Fotografia Nathalia" />
            <h2>NATHÁLIA MATOS<br /><small>22 ANOS</small></h2>
            <p>Ambiciosa, curiosa e uma eterna aluna da vida. Sempre buscando saber o que ainda não sei, acredito que o que me move é o conhecimento, a sede por aprender e sempre acreditar que ainda há o que descobrir. É pelas viagens que fiz e faço até hoje que compreendo esse mundo que é tão grande e repleto de experiências a serem vividas. Se no jornalismo encontro as ferramentas para contar histórias, é viajando que consigo enxergar o que há para além de cada um de nós, a diversidade de culturas e de realidades possíveis dentro de um mesmo presente. Ir e vir além de um direito é, sem dúvidas, a melhor forma de atravessarmos as fronteiras do nosso próprio mundo interior para que, assim, possamos nos desenvolver como melhores seres humanos a cada chegada e a cada partida.</p>
          </div>
        </div>
        <h1>Créditos</h1>
        <h2>PROJETO</h2>
        Amanda Krainer<br />
        Deborah Pereira Trunk<br />
        Nathália Rocha Matos<br />


        <h2>PERSONAGENS</h2>
        Caroline Flores - Chef de Cozinha<br />
        Edson Capoano - Jornalista e Doutor em Comunicação e Cultura<br />
        Edwars Rodriguez - Engenheiro<br />
        Giovanna Mercadante - Estudante<br />
        Marcella Morais - Estudante<br />
        Tadasi Itakaki - Aposentado<br />
        Theo Ritrosi - Chef de Restaurante<br />


        <h2>PARTICIPAÇÕES</h2>
        Cristiane Matos Morais - Mãe da Marcella / Dona de Casa<br />
        Kinuko Itakaki - Esposa do Tadasi / Aposentada<br />
        Roymar Cristina Martinez - Esposa do Edwars<br />
        Valentina de Barros Capoano - Filha de Vanessa e Edson<br />
        Vanessa Teixeira de Barros - Esposa do Edson / Jornalista<br />
        Verônica Rodriguez Lozada - Filha de Roymar e Edwars<br />


        <h2>PESQUISADORES</h2>
        Allan Rodrigo de Campos Silva - Doutor em Geografia Humana<br />
        Carlos de Almeida Toledo - Cientista Econômico e Doutor em Geografia Humana<br />
        Denise Cogo - Doutora em Ciências da Comunicação e Coordenadora do Grupo de pesquisa “Deslocar”<br />
        Diana Quintas - Advogada e Especialista em Imigração<br />
        Maura Pardini Bicudo Véras - Doutora em Ciências Sociais<br />
        Padre Paolo Parise - Diretor do Missão Paz<br />
        Wellington da Silva de Barros - Teólogo, Doutor em Ciências da Religião e responsável pelo Centro de Estudos Migratórios da Missão Paz<br />


        <h2>TÉCNICOS</h2>
        Cleber Stevani<br />
        Douglas Clementino<br />
        Jenniffer Soffia Bertarelli Santos<br />
        Priscila Tuna Quintal<br />


        <h2>FOTÓGRAFA</h2>
        Natalia Osis da Silva Alencar<br />

        <h2>DRONE</h2>
        Thiago Krainer<br />

        <h2>DESIGN E DESENVOLVIMENTO WEB</h2>
        Eduardo Liron<br />

        <h2>ORIENTAÇÃO</h2>
        Heidy Vargas<br />


        <h2>QUALIFICAÇÃO</h2>
        André Deak<br />


        <h2>AVALIAÇÃO</h2>
        Fabio Salles<br />


        <h2>TRILHAS</h2>
        <a href="https://www.bensound.com" target="_blank">Royalty Free Music by BENSOUND</a><br />
        <a href="https://www.youtube.com/audiolibrary/music?feature=blog" target="_blank">Youtube Audio Library</a><br />

        <h2>CONTATO</h2>
        <a href="mailto:idasevindaswebdoc@gmail.com">idasevindaswebdoc@gmail.com</a>

        <div class="about regua">
          <div>
            <a href="http://www.espm.br" target="_blank"><img src="static/imgs/espm.jpeg" /></a>
          </div>
          <div>
            <router-link :to="{ name: 'Home' }"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 1129 750" style="enable-background:new 0 0 1129 750;" xml:space="preserve">
              <path class="st0" d="M1043.6,164.3c-4.8,5.5-9,11-14,15.6c-8.3,7.6-8.2,31.9-7.6,34.1c1.3,4.3-1.5,7.1-3.6,9.9
              	c-1.8,2.3-3.1-0.1-3.9-1.5c-3.9-6.9-7.9-13.8-11.6-20.8c-1.5-2.8-3.3-4.3-6.4-5.1c-7.7-2-15.3-4.2-22.9-6.5c-3.8-1.1-3.8-2-1.4-5
              	c2.3-2.8,5-4.4,8.7-4.4c2.7,0,23.7-4.4,28.4-12.4c4-6.8,9-13,13.9-20c-9.2-3.6-17.8-6.9-26.4-10.3c-9.6-3.7-19.1-7.5-28.7-11.1
              	c-3.2-1.2-3.7-2.5-1.7-5.4c4.5-6.5,9.7-9.9,18.3-8.5c18.7,3,37.5,5.1,56.2,7.7c2.7,0.4,4.2-0.3,5.9-2.3c5.9-7.4,12.1-14.6,18.2-21.9
              	c3.9-4.7,8.5-8.2,14.5-9.4c6.7-1.4,10.5,1.8,10.6,8.7c0.1,6-2.2,11.2-5.7,15.9c-5.8,7.7-11.4,15.5-17.3,23.1c-1.6,2-1.6,3.6-0.8,5.9
              	c7.2,18.7,14.4,37.3,21.3,56.1c2.2,5.9-1.1,14.7-6.3,18c-2.3,1.5-3.2-0.3-4.2-1.7c-6.4-9.2-12.7-18.5-19.1-27.7
              	C1053.4,178.4,1048.7,171.6,1043.6,164.3z"/>
              <path class="st3" d="M995.9,243.6c0,0-6.2-17.5-10.6-21.7c-3.1-3-15.8-6.9-15.8-6.9s-12.3,32.6-21.9,49l-79.8-98.2
              	c26.8-20.4,44.5-38.1,53-53.3s12.7-30.3,12.7-45.4c0-20.8-7-36.8-21-47.9c-14-11.1-31.4-16.7-52.2-16.7c-15.5,0-29.8,3.6-42.7,10.9
              	S794.5,30.8,787.2,44c-7.3,13.2-11,26.8-11,40.9c0,11.6,3.1,24.1,9.3,37.5c6.2,13.4,15.5,27.9,27.8,43.4
              	c-41.2,34.3-61.7,71.1-61.7,110.5c0,28.3,9.8,51.5,29.4,69.7c19.6,18.2,45.5,27.3,77.6,27.3c16.9,0,32.5-2.7,47-8.2
              	c14.5-5.5,29.2-16,43.9-31.5l24.6,29.2h53.6L974.2,297C979.9,285.5,992.6,254.4,995.9,243.6z M828.9,46.8
              	c7.2-8.4,16.5-12.6,27.9-12.6c13.2,0,22.9,3.5,29.1,10.4c6.2,7,9.3,15.4,9.3,25.2c0,10.3-4.4,21.7-13.3,34.4
              	c-8.9,12.7-20.8,24.4-35.9,35.1c-2.3-3.1-4-5.3-5.1-6.8c-11.7-15.8-18.5-27.2-20.2-34.2c-1.8-7-2.6-13.8-2.6-20.5
              	C818.1,65.5,821.7,55.2,828.9,46.8z M889.4,333.1c-10,3.4-20,5.2-30,5.2c-18.6,0-34.4-6-47.5-18c-13-12-19.6-27.8-19.6-47.2
              	c0-28.6,14.2-55.2,42.6-79.8l91.4,112.3C911.8,320.5,899.5,329.7,889.4,333.1z"/>
            	<path class="st0" d="M-1.6,375.5V0.7h53.7v374.8H-1.6z"/>
            	<path class="st0" d="M104.2,375.5V0.7h79.5C214.6,0.7,238,9.1,254,26s24,40.7,24,71.6v175.3c0,35.1-8.5,61-25.5,77.6
            		c-17,16.7-41.5,25-73.4,25H104.2z M157.9,51.2V325h24.7c15.1,0,25.8-3.8,32.1-11.3c6.3-7.5,9.5-19.4,9.5-35.5V97.6
            		c0-14.7-3-26.1-8.9-34.2c-6-8.1-16.9-12.1-32.6-12.1H157.9z"/>
            	<path class="st0" d="M297.9,375.5L381.6,0.7h44.7l83.7,374.8h-53.7L440.6,295h-73.2l-15.8,80.5H297.9z M430.6,244.4l-26.3-135.8
            		h-1.1l-26.3,135.8H430.6z"/>
            	<path class="st0" d="M710.1,108.6h-53.7V96.5c0-12.3-2.9-22.9-8.7-31.8c-5.8-9-15.5-13.4-29.2-13.4c-7.4,0-13.3,1.4-17.9,4.2
            		c-4.6,2.8-8.2,6.3-11.1,10.5c-2.8,4.6-4.7,9.7-5.8,15.5c-1.1,5.8-1.6,11.8-1.6,18.2c0,7.4,0.3,13.5,0.8,18.4
            		c0.5,4.9,1.8,9.3,3.9,13.2c2.1,3.9,5.2,7.2,9.2,10c4,2.8,9.6,5.6,16.6,8.4l41.1,16.3c11.9,4.6,21.6,9.9,29,16.1
            		c7.4,6.1,13.2,13.3,17.4,21.3c3.9,8.4,6.5,18,7.9,28.7c1.4,10.7,2.1,22.9,2.1,36.6c0,15.8-1.6,30.4-4.7,44
            		c-3.2,13.5-8.3,25-15.3,34.5c-7.4,9.8-17,17.6-29,23.2c-11.9,5.6-26.5,8.4-43.7,8.4c-13,0-25.1-2.3-36.3-6.8
            		c-11.2-4.6-20.9-10.9-29-19c-8.1-8.1-14.5-17.5-19.2-28.2c-4.7-10.7-7.1-22.4-7.1-35v-20h53.7v16.8c0,9.8,2.9,18.7,8.7,26.6
            		c5.8,7.9,15.5,11.8,29.2,11.8c9.1,0,16.2-1.3,21.3-3.9c5.1-2.6,9-6.4,11.8-11.3c2.8-4.9,4.5-10.8,5-17.6s0.8-14.5,0.8-22.9
            		c0-9.8-0.4-17.9-1.1-24.2c-0.7-6.3-2.1-11.4-4.2-15.3c-2.5-3.9-5.7-7-9.7-9.5c-4-2.5-9.4-5.1-16.1-7.9l-38.4-15.8
            		c-23.2-9.5-38.7-22-46.6-37.6c-7.9-15.6-11.8-35.2-11.8-58.7c0-14,1.9-27.4,5.8-40c3.9-12.6,9.7-23.5,17.4-32.6
            		c7.4-9.1,16.7-16.4,28.2-21.8c11.4-5.4,25-8.2,40.8-8.2c13.3,0,25.5,2.5,36.6,7.4c11.1,4.9,20.6,11.4,28.7,19.5
            		c16.1,16.8,24.2,36.2,24.2,57.9V108.6z"/>
              <path class="st0" d="M270.7,421.1l-67.4,328.6h-41.5L94.9,421.1h49.8l37.4,229.3h0.9l37.8-229.3H270.7z"/>
              <path class="st0" d="M300.2,749.7V421.1h47.1v328.6H300.2z"/>
              <path class="st0" d="M391.1,749.7V421.1h45.2l71.1,198h0.9v-198h47.1v328.6h-44.3l-72-197.5h-0.9v197.5H391.1z"/>
              <path class="st0" d="M684.6,749.7c-28,0-49.4-7.3-64.4-21.9c-14.9-14.6-22.4-37.3-22.4-68.1V506c0-27.1,7-48,21-62.8
              	c14-14.8,34.5-22.1,61.6-22.1h69.7v328.6H684.6z M681.4,465.4c-13.8,0-23.4,3.5-28.6,10.6c-5.2,7.1-7.8,17.1-7.8,30v158.3
              	c0,14.2,2.8,24.5,8.3,31.1c5.5,6.6,14.9,9.9,28.1,9.9h21.7v-240H681.4z"/>
              <path class="st0" d="M767.7,749.7L841,421.1h39.2l73.4,328.6h-47.1l-13.8-70.6h-64.1l-13.8,70.6H767.7z M884,634.8l-23.1-119.1H860
              	l-23.1,119.1H884z"/>
              <path class="st0" d="M1129,515.7h-47.1v-10.6c0-10.8-2.5-20.1-7.6-27.9c-5.1-7.8-13.6-11.8-25.6-11.8c-6.5,0-11.7,1.2-15.7,3.7
              	c-4,2.5-7.2,5.5-9.7,9.2c-2.5,4-4.2,8.5-5.1,13.6c-0.9,5.1-1.4,10.4-1.4,15.9c0,6.5,0.2,11.8,0.7,16.1c0.5,4.3,1.6,8.2,3.5,11.5
              	c1.8,3.4,4.5,6.3,8.1,8.8c3.5,2.5,8.4,4.9,14.5,7.4l36,14.3c10.5,4,18.9,8.7,25.4,14.1c6.5,5.4,11.5,11.6,15.2,18.7
              	c3.4,7.4,5.7,15.8,6.9,25.1c1.2,9.4,1.8,20.1,1.8,32.1c0,13.8-1.4,26.7-4.1,38.5c-2.8,11.8-7.2,21.9-13.4,30.2
              	c-6.5,8.6-14.9,15.4-25.4,20.3c-10.5,4.9-23.2,7.4-38.3,7.4c-11.4,0-22-2-31.8-6c-9.8-4-18.3-9.5-25.4-16.6
              	c-7.1-7.1-12.7-15.3-16.8-24.7c-4.2-9.4-6.2-19.6-6.2-30.7v-17.5h47.1v14.8c0,8.6,2.5,16.4,7.6,23.3c5.1,6.9,13.6,10.4,25.6,10.4
              	c8,0,14.2-1.2,18.7-3.5c4.5-2.3,7.9-5.6,10.4-9.9c2.5-4.3,3.9-9.5,4.4-15.5c0.5-6,0.7-12.7,0.7-20.1c0-8.6-0.3-15.7-0.9-21.2
              	c-0.6-5.5-1.8-10-3.7-13.4c-2.1-3.4-5-6.1-8.5-8.3c-3.5-2.1-8.2-4.5-14.1-6.9l-33.7-13.8c-20.3-8.3-33.9-19.3-40.8-33
              	c-6.9-13.7-10.4-30.8-10.4-51.5c0-12.3,1.7-24,5.1-35.1c3.4-11.1,8.5-20.6,15.2-28.6c6.5-8,14.7-14.4,24.7-19.2
              	c10-4.8,21.9-7.1,35.8-7.1c11.7,0,22.4,2.2,32.1,6.5c9.7,4.3,18.1,10,25.1,17.1c14.1,14.8,21.2,31.7,21.2,50.8V515.7z"/>
            </svg></router-link>
          </div>
          <div>
            <a href="http://www.graofilmes.com.br" target="_blank"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 337.4 175.6" style="enable-background:new 0 0 337.4 175.6;" xml:space="preserve">
            	<path d="M201.3,103.5c0,1.9,1.4,23.1-19.7,23.1c-15.3,0-19.1-11.5-19.6-16.8h9.4c0.4,2,1.7,8.4,10.3,8.4c12.1,0,10.3-12.9,10.3-18.3
            		c-5.3,6.6-18.3,8.5-26.4-0.3c-7.8-8.4-6.3-23.6-0.4-30.3c9.9-11,24.6-6.2,26.8-2.1v-3.4h9.4V103.5z M180.9,71.2
            		c-15,0-14.9,26.1,0,26.1C195.9,97.3,196.3,71.2,180.9,71.2z"/>
            	<path d="M213.1,63.9h9.4v2.4c1.7-1.8,9.4-6.2,17.2-1.1l-3.1,8.6c-9.8-5.1-14.1,0.5-14.1,9.7v21h-9.4V63.9z"/>
            	<path d="M274.9,63.9v3.5c-6.8-8.8-31.8-6.6-31.8,16.7c0,22.2,22.6,25.9,31.8,17.4v3h9.4V63.9H274.9z M263.8,97.3
            		c-14.9,0-15.2-26,0.1-26C279.4,71.2,279.5,97.3,263.8,97.3z"/>
            	<path d="M315.8,62.8c28.6,0,29,42.8-0.2,42.8C287.2,105.6,286.9,62.8,315.8,62.8z M315.8,97.3c16.1,0,16.3-26,0-26
            		C300,71.2,299.5,97.3,315.8,97.3z"/>
            	<path d="M257.3,56.9l-5.5-4.6c3.4-4.9,5.7-7.7,10.6-7.7c5.3,0,10.7,4.4,13.1,4.4c1.6,0,3.3-1.5,5.2-4.5l5.3,4.4
            		c-2.7,5.3-6.3,8-10.8,8C267.1,56.8,261.9,47.3,257.3,56.9z"/>
            	<path d="M0,87.5c0,33.6,22.2,61.7,55.2,70.2c0.3-4.9,0.8-9.1,1.5-13c-26.9-8.1-42.3-28.9-42.3-57.2c0-20.7,7.4-36.5,25.9-50.9
            		c7.5-5.8,14.5-11.5,15.8-20.8C23.1,24,0,53.4,0,87.5z"/>
            	<path d="M81.2,0c-7.7,0.9-13,7.2-13.9,16.7c-1.5,15.5-12.4,23.7-15.2,25.6C34.7,54.1,25.2,67.3,25.2,87.1
            		c0,21.8,14.5,41.3,35.3,47.4c2.2-5.6,4.8-9.1,6.6-11c0-0.1,0.1-0.1,0.1-0.2C41.7,116.8,39.7,94,39.7,87.1c0-8.7,5.3-19.9,17.1-28.5
            		C74.4,45.8,81.2,37.5,81.2,0z"/>
            	<path d="M147.8,87c0-33.3-24-63.8-55.8-71.1c-0.3,5-0.8,9.4-1.6,13.4c26.4,10,43.6,34.5,43.6,57.7c0,19-7.2,33.3-23.9,45.8
            		c-11.9,8.9-15.9,14.9-16.8,24.7C112.4,154.7,147.8,128.5,147.8,87z"/>
            	<path d="M104.4,124c12.7-9.8,19.1-21.2,19.1-37.1c0-19.7-15.9-40.5-36.3-47.6c-3,7.6-7.7,12.4-7.7,12.5C97,57.9,107.8,71.3,107.8,87
            		c0,7.6-3.4,19.6-16.2,28.8c-22.4,16.1-25.6,22-25.6,59.6c5.3,0.5,9.9,0.5,15.2,0.1C81.2,143.3,85.4,138.8,104.4,124z"/>
            </svg></a>
          </div>
        </div>
      </section>
    </article>
  </main>
</template>

<script>
export default {
  name: 'Index',
  data () {
    return {
      count: 0,
      maxCount: 4,
      options: { color: 'fdc60d', muted:true, autoplay: true, title: false, controls: false, loop: true },
      loading: true
    }
  },
  methods: {
    startCounting() {
      this.loading = false;
      this.count += 1;
      if(this.count < this.maxCount) {
        window.setTimeout(function() { this.startCounting()  }.bind(this), 4000);
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  main {
    background-color: #fdc60d;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 2em;
    color: #fdc60d;
  }
  p {text-align: justify;}
  a {color: #000;}
  a:hover {color: #fdc60d;}
  .player, .player >>> iframe{
    position: absolute;
    width: calc(100vh*16/9);
    height: calc(100vw*9/16);
    min-width: 100%;
    min-height: 100%;
    margin: auto;
  }
  .opening {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow-y: scroll;
  }
  .opening section{
    background-color: #fff;
    padding: 10vh 10vw 20vh 10vw;
    margin: 0 15vw 100vh 15vw;
    border-radius: 15px;
    height: auto;
  }
  .logo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #logo {height: 20vh;}
  .st0{fill:#000000;}
  .st1{fill:#fff;}

  .scroll-down {
	position: absolute;
	left: 50%;
	bottom: 10vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
	animation:         fade_move_down 2s ease-in-out infinite;
}

.about {
  width: 100%;
  display: flex;
  margin: 0 0 2vh 0;
}
.about div{
  flex: 1 1 0;
  margin: 0 1vw;
}
.about img {
  max-width: 100%;
  border-radius: 50%;
}

.regua {position: relative; margin-top: 10vh; justify-content: space-between;}
.regua div {display: flex; align-items: center; width: 25%; padding: 0 2.5vw;}
.regua img, .regua svg {border-radius: 0; width: 100%;}

.st3 {fill: #fdc60d;}

  @media (orientation: portrait) {
    .opening section{
      margin: 0 0 100vh 0;
    }
    .about {
      flex-direction: column;
    }
    .about img {
      max-width: 30%;
    }
  }

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
</style>
