<template>
  <main>

    <Loading v-if="loading == true" />

    <vimeo-player ref="player" class="player" @ended="goNext" @ready="loading = false" @pause="paused = true" @play="paused = false" :video-id="video" :options="options" ></vimeo-player>
    <div class="play" v-if="loading == false && paused == true" @click="$refs.player.play();">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 24 24" xml:space="preserve">
        <path d="M6.7,21.4V2.6L19.3,12L6.7,21.4z"/>
      </svg>
    </div>
    <router-link class="pular" :to="{ name: 'Video', params: { vidId: destino } }">      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 24 24" xml:space="preserve">
        <path d="M6.7,21.4V2.6L19.3,12L6.7,21.4z"/>
      </svg>
      <h2>PULAR</h2>
    </router-link>
  </main>
</template>

<script>
import Loading from '@/components/Loading'

export default {
  name: 'Video',
  components: {
    Loading
  },
  props: {
    destino: Number,
    video: Number
  },
  data () {
    return {
      options: { color: 'fdc60d', autoplay: true, title: false, controls: false },
      loading: true,
      paused: false,
    }
  },
  methods: {
    goNext() {
      console.log(this.destino);
      this.$router.push({ name: 'Video', params: { vidId: this.destino } })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  main {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
  }

  .player, .player >>> iframe{
    width: calc(100vh*16/9);
    height: calc(100vw*9/16);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  .pular {
    position: absolute;
    top: 5vh; right: 5vw;
    text-align: center;
    background-color: #000;
    color: #fdc60d;
    fill: #fdc60d;
    padding: 1vh 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .pular svg {height: 2vh;}
  .pular h2 {margin: 0; padding: 0 0 0 1vw;}
  .pular:hover {
    fill: #fff;
    color: #fff;
    border-color: #fff;
  }

  .play {
    position: absolute;
    top:50vh; left: 50vw;
    transform: translate3d(-50%,-50%,0);
    cursor: pointer;
  }
  .play svg {
    height: 10vh;
    fill: #fdc60d;
  }
  .play:hover svg {
    fill: #fff;
  }
</style>
