<template>
  <main>

    <Loading v-if="loading == true" />

    <vimeo-player ref="player" class="player" @timeupdate="timeUpdate" @ready="loading = false" @ended="goNext" :video-id="videoID" :options="options" ></vimeo-player>

    <transition name="slide-fade">
      <Credito v-show="credito" :index="this.$route.params.vidId"></credito>
    </transition>
    <transition name="slide-fade">
      <CreditoExtra v-if="pessoaB != ''" v-show="creditoB && !info" :pessoa="pessoaB"></CreditoExtra>
    </transition>

    <article :class="{ 'show': info }">

      <router-link @click.native="distroy()" :to="{ name: 'Video', params: {vidId: nextVid } }" class="nvid">
      <section class="amp">
        <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
          <path class="stroke-solid" fill="none" stroke="white"  d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
            C97.3,23.7,75.7,2.3,49.9,2.5"/>
          <path class="icon" fill="white" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z"/>
          </svg>
      </section>
      </router-link>

      <section>
        <router-link @click.native="distroy()" :to="{ name: 'Video', params: {vidId: nextVid } }" class="nvid">
          <h2>Veja a história de</h2>
          <h1>{{ this.$root.$data.cadavreContent[nextVid].name }}</h1>
        </router-link>
        <router-link :to="{ name: 'Deslocamentos' }">
          <span>Conheça mais sobre os deslocamentos no Brasil</span>
        </router-link>
      </section>

      <div class="back">
        <router-link @click.native="distroy()" :to="{ name: 'Home' }">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 640 640" style="enable-background:new 0 0 640 640;" xml:space="preserve"><path d="M635,320C635,146.1,493.9,5,320,5S5,146.1,5,320s141.1,315,315,315S635,493.9,635,320z M304.3,454L170.8,320.5L304.3,187
          	v95.4h152.6v76.3H304.3V454z"/></svg>
          <div class="description">
            Retornar ao início
          </div>
        </router-link>
      </div>
    </article>
  </main>
</template>

<script>
import Credito from '@/components/Credito'
import Loading from '@/components/Loading'
import CreditoExtra from '@/components/GC'

export default {
  name: 'Video',
  components: {
    Credito,
    Loading,
    CreditoExtra
  },
  data () {
    return {
      player: null,
      videoID: this.$root.$data.cadavreContent[this.$route.params.vidId].video,
      options: { color: 'fdc60d', autoplay: true, title: false, texttrack: 'pt-BR' },
      credito: false,
      creditoB: false,
      loading: true,
      info: false,
      timer: null
    }
  },
  computed: {
    nextVid() {
      return parseInt(this.$route.params.vidId) == 6 ? 0 : parseInt(this.$route.params.vidId) + 1
    },
    pessoaB() {
      return this.$route.params.vidId == 2 ? 'roymar' :
             this.$route.params.vidId == 4 ? 'cristiane' :
             this.$route.params.vidId == 6 ? 'kinuko' : '';
    },
    tempoB() {
      return this.$route.params.vidId == 2 ? 104 :
             this.$route.params.vidId == 4 ? 115 :
             this.$route.params.vidId == 6 ? 181 : 1000;
    }
  },
  methods: {
    timeUpdate(time) {
      this.credito = time.seconds > 1 && time.seconds < 5 ? true : false
      if(this.pessoaB != '') {
        this.creditoB = time.seconds > this.tempoB && time.seconds < this.tempoB+4 ? true : false
      }
    },
    goNext() {
      this.info = true;
      this.timer = setTimeout(() => this.$router.push({ name: 'Video', params: {vidId: this.nextVid } }), 11000);
    },
    distroy() {
      clearTimeout(this.timer);
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  main {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
  }

  h1, h2 {margin: 0}

  .infoDiv {
    left: 5vw; bottom: 10vh;
  }

  .player, .player >>> iframe{
    width: calc(100vh*16/9);
    height: calc(100vw*9/16);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  article {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding-left: 15vw;
    background-color: rgba(253, 198, 13, .5);
    opacity: 0;
    left: -100vw;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
  }
  section {
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .amp {
    position: absolute;
    top: 0; left: 0;
    margin: 0;
  }
  .amp svg{
    max-height: 60vh;
    max-width: 60vw;
    bottom: 0;
    position: absolute;
  }
  article a {
    display: block;
    text-decoration: none;
    padding-bottom: 10vh;
  }
  h1 {
    font-size: 5em;
    color: #000;
    opacity: 0;
    transform: translateX(5vh);
  }
  a:hover h1 {color: #fff;}
  a:hover h2 {color: #000;}
  a span{transition: all 1s ease-in-out 1.5s, color 1s ease-in-out; text-transform: uppercase;}
  a:hover span {color: rgb(253, 198, 13)}
  span {
    background-color: #000;
    color: #fff;
    padding: 1vh 1vw;
    font-weight: 200;
    opacity: 0;
    margin-left: 5vh;
  }
  #loop {
    fill: none;
    stroke:#fff;
    stroke-width:40;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    transform: none;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    transition: all 3s ease-in-out;
  }

  .show {
    left: 0;
    opacity: 1;
  }
  .show h1, .show span {
    opacity: 1;
    transform: none;
    margin-left: 0;
  }
  .show #loop {
    stroke-dashoffset: 375;
  }

  .nvid {margin-top: 5vh;}
  .content {text-align: center;}

  .stroke-solid {
    stroke-dashoffset: 0;
    stroke-dashArray: 300;
    stroke-width: 4px;
    transition: stroke-dashoffset 1s;
  }

  .icon {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }

  #play:hover .icon {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #play {
    cursor: pointer;
    stroke-dashoffset: 300;
  }

  .description {
    position: relative;
    background-color: #fff;
    padding: 2vh 2vw;
    border-radius: 10px;
    opacity: 0;
    color: #000;
  }
  .description::before {
    position: absolute;
    display: block;
    content: '';
    top: -7px;
    left: 2.5vw;
    background-color: #fff;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
  }

  path, .description {transition: all .1s ease-in-out;}

  .back {
    position: absolute;
    top: 5vh; right: 5vw;
    width: 10vh; height: 10vh;
  }
  .back:hover svg {
    fill: #fff;
  }
  .back .description {
    width: 15vw;
    transform: translate3d(-60%, 2vh, 0);
  }
  .back .description::before {
    right: 2.5vw; left: auto;
  }
  .back:hover .description {opacity: 1;}

  .show #play .stroke-solid{animation: button 10s both;}

  /* Animações de entrada e saída  */
  .slide-fade-enter-active {
    transition: all .5s ease-in-out;
  }
  .slide-fade-leave-active {
    transition: all .5s ease-in-out;
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
    transform: translateX(10vw);
    opacity: 0;
  }
  @keyframes button {
    from {
      stroke-dashoffset: -300;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  @media (orientation: portrait) {
    article {
      padding-left: 3vw;
    }
    span {
      white-space: normal;
    }
  }
</style>
