<template>
  <main class="conteudo">

      <section class="amp">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M1 21h12v2H1zM5.245 8.07l2.83-2.827 14.14 14.142-2.828 2.828zM12.317 1l5.657 5.656-2.83 2.83-5.654-5.66zM3.825 9.485l5.657 5.657-2.828 2.828-5.657-5.657z"/></svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper"><div class="content">
            <span>Regularização da Imigração no Brasil</span>
          </div></div>
          <ul class="ul1">
            <li><router-link :to="{ name: 'LeiDireitoImigrante' }">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              O que é a Lei de Imigração?
            </router-link></li>
            <li><router-link :to="{ name: 'QuaisDireitoImigrante' }">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              Saiba quais são os direitos e deveres do imigrante no Brasil
            </router-link></li>
            <li><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2017/lei/l13445.htm" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg>
              Acesse na íntegra a Lei de Imigração
            </a></li>
          </ul>
        </div>
      </section>

  </main>
</template>

<script>

export default {
  name: 'page',
  props: {
    video: Number,
    pessoa: String
  },
  data () {
    return {
    }
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page .ul1 {
  font-size: 3vh;
  line-height: 5.5vh;
  list-style: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}
.page .ul1 a, .page .ul1 span {color: #000; display: flex; align-items: center;}
.page .ul1 a:hover {color: #fdc60d}
.page .ul1 li {
  margin-bottom: 2vh;
  margin-left: 5vw;
  background-color: #fff;
  padding: 2vh 2vw;
}
.page .ul1 svg {
  height: 5vh; width: 5vh;
  margin-right: 2vw;
}
.page .ul1 a:hover svg {fill: #fdc60d}
.page .ul1 ul {
  font-size: 2vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  list-style: none;
  padding: 0;
  }
.page .ul1 ul li {
  margin-bottom: 0;
  background-color: none;
  padding: 0;
}
.page .ul1 ul a {color: #fdc60d}
.page .ul1 ul a:hover {color: #000}

.charts {background-color: #fdc60d; padding: 1vh 1vw; width: 90%; display: flex; align-items: center;}
.charts svg {max-height: 15vh; float: left; margin-right: 3vw;}
.charts .special {padding-right: 3vw; font-size: 2em; margin-left: -2vw; font-weight: 700; height: 100%; float: left;}
</style>
