<template>
  <main class="conteudo">

      <section class="amp">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.5 17.15l3.98-2.28c.67-.38.67-1.35 0-1.74l-3.98-2.28c-.67-.38-1.5.11-1.5.87v4.55c0 .77.83 1.26 1.5.88zM21 6h-7.59l2.94-2.94c.2-.2.2-.51 0-.71s-.51-.2-.71 0L12 5.99 8.36 2.35c-.2-.2-.51-.2-.71 0s-.2.51 0 .71L10.59 6H3c-1.1 0-2 .89-2 2v12c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.11-.9-2-2-2zm-1 14H4c-.55 0-1-.45-1-1V9c0-.55.45-1 1-1h16c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1z"/></svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper"><div class="content">
            <span>a representação dos imigrantes na mídia</span>
          </div></div>

          <ul class="ul1">
            <li><router-link :to="{ name: 'PassadoMidia' }">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              Descubra como era a representação dos imigrantes no passado
            </router-link></li>
            <li><router-link :to="{ name: 'DiversidadeMidia' }">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              Conheça a diversidade das migrações
            </router-link></li>
            <li><router-link :to="{ name: 'ProblemaMidia' }">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              Entenda por que o imigrante é visto como um problema
            </router-link></li>
            <li><router-link :to="{ name: 'EstadoMidia' }">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              Compreenda como a Mídia e o Estado vêem os imigrantes
            </router-link></li>
            <li><a href="http://midiasdemigrantesdesp.com.br/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg>
              Confira a mídia produzida por migrantes
            </a></li>
          </ul>
        </div>
      </section>

  </main>
</template>

<script>


export default {
  name: 'page',
  props: {
    video: Number,
    pessoa: String
  },
  data () {
    return {
    }
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ul1 {
  font-size: 3vh;
  line-height: 5.5vh;
  list-style: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}
.ul1 a, .ul1 span {color: #000; display: flex; align-items: center;}
.ul1 a:hover {color: #fdc60d}
.ul1 li {
  margin-bottom: 2vh;
  margin-left: 5vw;
  background-color: #fff;
  padding: 2vh 2vw;
}
.ul1 svg {
  height: 5vh; width: 5vh;
  margin-right: 2vw;
}
.ul1 a:hover svg {fill: #fdc60d}
.ul1 ul {
  font-size: 2vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  list-style: none;
  padding: 0;
  }
.ul1 ul li {
  margin-bottom: 0;
  background-color: none;
  padding: 0;
}
.ul1 ul a {color: #fdc60d}
.ul1 ul a:hover {color: #000}

.charts {background-color: #fdc60d; padding: 1vh 1vw; width: 90%; display: flex; align-items: center;}
.charts svg {max-height: 15vh; float: left; margin-right: 3vw;}
.charts .special {padding-right: 3vw; font-size: 2em; margin-left: -2vw; font-weight: 700; height: 100%; float: left;}
</style>
