<template>
  <main class="conteudo">

      <section class="amp">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 541.89 618.61"><path d="M277.38,191.79V75.55h-30.1c-36.06,0-50.08,16.4-50.08,49.92v21.61c0,27.57,18,44.71,37.78,44.71Z" transform="translate(-48.41 -12.4)"/><path d="M161.49,407.6H183.1c27.56,0,44.7-18,44.7-37.78V327.41H111.57v30.11C111.57,393.58,128,407.6,161.49,407.6Z" transform="translate(-48.41 -12.4)"/><path d="M441.83,450.4V428.79c0-33.53-14-49.92-50.08-49.92H361.64V495.1h42.41C423.8,495.1,441.83,478,441.83,450.4Z" transform="translate(-48.41 -12.4)"/><path d="M477.23,160.74H455.62c-27.57,0-44.71,18-44.71,37.78v42.41H527.15V210.82C527.15,174.76,510.75,160.74,477.23,160.74Z" transform="translate(-48.41 -12.4)"/><path d="M468.48,87.57h-8.24c-51.42,0-95.68,35.7-109.06,89.84V12.4H229c-56.61,0-105,47.71-105,121.82v8.23C124,197,164.21,243.51,224,253.61H48.41V375.8c0,56.61,47.72,105,121.82,105h8.24c51.82,0,96.37-36.24,109.37-91.07V631h60.32V559h42.3C463.54,559,515,507.53,515,445.77v-8.23c0-74.11-48.36-121.83-105-121.83l180.27-1V192.54C590.3,135.93,542.59,87.57,468.48,87.57Zm-293,65.18V122.9c0-46.32,21.61-69,77.19-69h46.41V214.5H233.72C203.28,214.5,175.49,190.83,175.49,152.75Zm75,218.32c0,30.45-23.68,58.24-61.76,58.24H158.91c-46.31,0-69-21.61-69-77.19V305.71H250.52Zm213,55.14v29.85c0,38.09-27.79,61.76-58.24,61.76H339.94V357.25h46.41C441.92,357.25,463.54,379.9,463.54,426.21Zm85.22-163.57H388.2V197.27C388.2,166.82,411.87,139,450,139H479.8c46.32,0,69,21.62,69,77.2Z" transform="translate(-48.41 -12.4)"/></svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper"><div class="content">
            <span>Missão Paz</span>
          </div></div>
          <ul class="ul1">
            <li><router-link :to="{ name: 'EstruturaPaz' }">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              Conheça a Estrutura
            </router-link></li>
            <li><router-link :to="{ name: 'AutonomiaPaz' }">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              Descubra como a Missão Paz leva autonomia aos imigrantes
            </router-link></li>
            <li>
              <span><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/></svg>
              Entenda como se sente quem trabalha na acolhida dos imigrantes</span>
              <ul>
                <li><router-link :to="{ name: 'padrePaz' }">Padre Paolo – Diretor da instituição</router-link></li>
                <li><router-link :to="{ name: 'wellingtonPaz' }">Wellington de Barros – Responsável pelo Centro de Estudos Migratórios</router-link></li>
              </ul>
            </li>
            <li>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg>
              Colabore com a Missão Paz</span>
              <ul>
                <li><a href="http://www.missaonspaz.org/conteudo/faca-uma-doacao" target="_blank">Faça sua doação</a></li>
                <li><a href="http://www.missaonspaz.org/conteudo//seja-um-voluntario" target="_blank">Seja um voluntário</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

  </main>
</template>

<script>

export default {
  name: 'page',
  props: {
    video: Number,
    pessoa: String,
    pessoaB: String
  },
  data () {
    return {
    }
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa, this.pessoaB]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.page .ul1 {
  font-size: 3vh;
  line-height: 5.5vh;
  list-style: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}
.page .ul1 a, .page .ul1 span {color: #000; display: flex; align-items: center;}
.page .ul1 a:hover {color: #fdc60d}
.page .ul1 li {
  margin-bottom: 2vh;
  margin-left: 5vw;
  background-color: #fff;
  padding: 2vh 2vw;
}
.page .ul1 svg {
  height: 5vh; width: 5vh;
  margin-right: 2vw;
}
.page .ul1 a:hover svg {fill: #fdc60d}
.page .ul1 ul {
  font-size: 2vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  list-style: none;
  padding: 0;
  }
.page .ul1 ul li {
  margin-bottom: 0;
  background-color: none;
  padding: 0;
}
.page .ul1 ul a {color: #fdc60d}
.page .ul1 ul a:hover {color: #000}

.charts {background-color: #fdc60d; padding: 1vh 1vw; width: 90%; display: flex; align-items: center;}
.charts svg {max-height: 15vh; float: left; margin-right: 3vw;}
.charts .special {padding-right: 3vw; font-size: 2em; margin-left: -2vw; font-weight: 700; height: 100%; float: left;}

  </style>
