<template>
  <main class="conteudo">

      <section class="amp">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper">
            <div class="content">
              <span>PERFIL DOS IMIGRANTES QUE CHEGAM AO BRASIL</span>
            </div>
          </div>
          <div class="fonte">Fonte: DAPP-FGV, 2017</div>
        </div>

        <div class="charts">
          <ul>
            <li> <!-- PAÍSES -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"/></svg>
                Portugal, Haiti, Bolívia, Japão e Itália
            </li>
            <li> <!-- GRAFICO -->
              <myChart :porcentagem="90" />
                Está em <b>idade ativa</b>
            </li>
            <li> <!-- GRAFICO -->
              <myChart :porcentagem="33" />
                Possui <b>ensino superior</b>
            </li>
          </ul>
        </div>
      </section>

  </main>
</template>

<script>
import myChart from '@/components/myChart'

export default {
  name: 'page',
  props: {
    video: Number,
    pessoa: String
  },
  components: {
    myChart,
  },
  data () {
    return {
    }
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
