<template>
  <main class="conteudo">

      <section class="amp">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"/></svg>
      </section>

      <section class="page">
        <div class="question">
          <div class="wrapper">
            <div class="content">
              <span>XENOFOBIA NO BRASIL</span>
            </div>
          </div>
          <div class="fonte">Fonte: <a href="https://oglobo.globo.com/brasil/denuncias-de-xenofobia-no-disque-100-crescem-633-em-2015-18554954" target="_blank">Secretaria Especial de Direitos Humanos, 2015</a></div>
          <div class="infobox">
            Segundo o Alto Comissariado das Nações Unidas para Refugiados (ACNUR) a xenofobia se entende por:
            <p><b>Atitudes, preconceitos e comportamentos que rejeitam, excluem e frequentemente difamam pessoas, com base na percepção de que eles são estranhos ou estrangeiros à comunidade, sociedade ou identidade nacional.</b></p>
            <h3 class="charts">
              <div class="limage">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">    <path d="M 15 3 C 14.168432 3 13.456063 3.5067238 13.154297 4.2285156 L 2.3007812 22.947266 L 2.3007812 22.949219 A 2 2 0 0 0 2 24 A 2 2 0 0 0 4 26 A 2 2 0 0 0 4.140625 25.994141 L 4.1445312 26 L 15 26 L 25.855469 26 L 25.859375 25.992188 A 2 2 0 0 0 26 26 A 2 2 0 0 0 28 24 A 2 2 0 0 0 27.699219 22.947266 L 27.683594 22.919922 A 2 2 0 0 0 27.681641 22.917969 L 16.845703 4.2285156 C 16.543937 3.5067238 15.831568 3 15 3 z M 13.787109 11.359375 L 16.212891 11.359375 L 16.011719 17.832031 L 13.988281 17.832031 L 13.787109 11.359375 z M 15.003906 19.810547 C 15.825906 19.810547 16.318359 20.252813 16.318359 21.007812 C 16.318359 21.748812 15.825906 22.189453 15.003906 22.189453 C 14.175906 22.189453 13.679688 21.748813 13.679688 21.007812 C 13.679688 20.252813 14.174906 19.810547 15.003906 19.810547 z"></path></svg>
              </div>
              <div class="special">633%</div>
              FOI O CRESCIMENTO DAS DENÚNCIAS DE XENOFOBIA NO DISQUE 100 EM 2015
            </h3>
        </div>
      </div>
      </section>

  </main>
</template>

<script>

export default {
  name: 'page',
  props: {
    video: Number,
    pessoa: String
  },
  data () {
    return {
    }
  },
  created() {
    this.$emit('infos', [this.video, this.pessoa]);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.charts {background-color: #fdc60d; padding: 1vh 1vw; width: 80%; margin-left: 4vw; display: flex; align-items: center; bottom: 0;}
.charts svg {max-height: 5vh; float: left; margin-right: 3vw;}
.charts .special {padding-right: 3vw; font-size: 1em; margin-left: -2vw; font-weight: 700; height: 100%; float: left;}
.infobox b {font-size: large}
  </style>
