<template>
  <div id="app">
    <MainLogo v-if="!firsAccess" />
    <router-view :key="$route.fullPath"/>
  </div>
</template>

<script>
import MainLogo from '@/components/MainLogo'

export default {
  name: 'App',
  components: {
    MainLogo
  },
  data() {
    return{
      firsAccess: true
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500|Roboto:100,400,700');

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#app h1, #app h2 {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 756px) {
  #app{
    font-size: .8em
  }
}
</style>
